<app-nav></app-nav>
<app-side-menu></app-side-menu>
<section class="content">
    <div class="container">
        <div class="title-create d-flex justify-content-between">
            <h2>Chat</h2>
        </div>
        <div class="row chat-page">
            <div class="chat col-9">
                <div class="group-text">
                    <h6>Sunday 10:00 PM</h6>
                    <div class="right-chat">
                        <h4>Heloo How are you, Thanks</h4>
                        <p class="read-time">Read last Min</p>
                    </div>
                    <div class="left-chat">
                        <div class="profile">
                            <img src="../../assets/images/pho.png">
                            <h4>Fine Thanks, Whats your life?</h4>
                        </div>
                        <p class="read-time">Read last Min</p>
                    </div>
                    <h6>Sunday 10:00 PM</h6>
                    <div class="right-chat">
                        <h4>Heloo How are you, Thanks</h4>
                        <p class="read-time">Read last Min</p>
                    </div>
                    <div class="left-chat">
                        <div class="profile">
                            <img src="../../assets/images/pho.png">
                            <h4>Fine Thanks, Whats your life?</h4>
                        </div>
                        <p class="read-time">Read last Min</p>
                    </div>
                    <h6>Sunday 10:00 PM</h6>
                    <div class="right-chat">
                        <h4>Heloo How are you, Thanks</h4>
                        <p class="read-time">Read last Min</p>
                    </div>
                    <div class="left-chat">
                        <div class="profile">
                            <img src="../../assets/images/pho.png">
                            <h4>Fine Thanks, Whats your life?</h4>
                        </div>
                        <p class="read-time">Read last Min</p>
                    </div>
                </div>
                <div class="item-filed ">
                    <div class="form-group">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <input type="text" class="form-control" placeholder="Please write title text">
                    </div>
                </div>
            </div>
            <div class="col-3 online">
                <div class="item-online">
                    <div class="profile d-flex ">
                        <img src="../../assets/images/pho.png">
                        <div class="group-file">
                            <p class="name"> Amr Ahmed</p>
                            <p> Senior UI UX Designer</p>
                        </div>
                    </div>
                </div>
                <div class="item-online">
                    <div class="profile d-flex ">
                        <img src="../../assets/images/pho.png">
                        <div class="group-file">
                            <p class="name"> Amr Ahmed</p>
                            <p> Senior UI UX Designer</p>
                        </div>
                    </div>
                </div>
                <div class="item-online">
                    <div class="profile d-flex ">
                        <img src="../../assets/images/pho.png">
                        <div class="group-file">
                            <p class="name"> Amr Ahmed</p>
                            <p> Senior UI UX Designer</p>
                        </div>
                    </div>
                </div>
                <div class="item-online">
                    <div class="profile d-flex ">
                        <img src="../../assets/images/pho.png">
                        <div class="group-file">
                            <p class="name"> Amr Ahmed</p>
                            <p> Senior UI UX Designer</p>
                        </div>
                    </div>
                </div>
                <div class="item-online">
                    <div class="profile d-flex ">
                        <img src="../../assets/images/pho.png">
                        <div class="group-file">
                            <p class="name"> Amr Ahmed</p>
                            <p> Senior UI UX Designer</p>
                        </div>
                    </div>
                </div>
                <div class="item-online">
                    <div class="profile d-flex ">
                        <img src="../../assets/images/pho.png">
                        <div class="group-file">
                            <p class="name"> Amr Ahmed</p>
                            <p> Senior UI UX Designer</p>
                        </div>
                    </div>
                </div>
                <div class="item-online">
                    <div class="profile d-flex ">
                        <img src="../../assets/images/pho.png">
                        <div class="group-file">
                            <p class="name"> Amr Ahmed</p>
                            <p> Senior UI UX Designer</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>