.content {
    // margin-left: 21%;
    margin-top: 42px;
    // margin-right: 80px;
    .title-create{
        margin-bottom: 12px;
    h2{
        font-size: 30px;
        color: #439048;
        font-weight: 700;
    }
}
    .group-text{
     margin-bottom: 12px;
    background: #fff;
    display: flex;
    box-shadow: 0px 1px 31px -13px #00000080;
    border-radius: 11px;
    padding: 14px;
    flex-direction: column;
    padding-top: 22px
    }
    .form-control{
        border: none;
    box-shadow: 0px 1px 31px -13px #00000080;
    margin-top: -10px;
    border-radius: 11px;
    }
    .fa{ 
        position: absolute;
        right: 30px;
        font-size: 21px;
        margin-top: 7px;
        color: #888;
    }
    h6{
        text-align: center;
        font-size: 12px;
        color: #999;
    }
    .right-chat{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
        h4{ 
    background: #dedede;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 0;
    font-size: 14px;

        }
        p.read-time{
            margin: 0;
            font-size: 12px;
            margin-left: 12px;
            color: #505050;
        }
    }
    .left-chat{
        .profile{
            display: flex;
            align-items: center;
            img{
                width: 54px;
                margin-right: 6px;
            }
            h4{
                background: #63ab66;
                font-size: 14px;

                color: #fff;
                padding: 10px 10px;
                padding: 12px;
                border-radius: 12px;
                margin-bottom: 0;
            } 
        }
        p.read-time{
            margin: 0;
            font-size: 12px; 
            color: #505050;   
             margin-right: 69px;

        }
    }
    .online{
        margin-bottom: 12px;
        background: #fff;
        display: flex;
        box-shadow: 0px 1px 31px -13px #00000080;
        flex-direction: column;  
    }
    .item-online{ 
        cursor: pointer;
    margin-top: 7px;
    border-bottom: 1px solid #c7c7c7;
    }


.profile img {
    vertical-align: middle;
    border-style: none;
    width: 52px;
    height: 100%;
}
.group-file{
    p{
        color: #777;
        margin-right: 10px;

    }
    p.name{
        margin-bottom: -2px;
        margin-right: 10px;
        font-weight: 600;
        color: #409144;
    }
}
} 