<app-nav></app-nav>
<app-side-menu></app-side-menu>
<section class="content-home">
    <div class="row icons">
        <div class="col-md-3 item d-flex justify-content-around">
            <div class="group-text d-flex flex-column align-items-center">
                <h4>{{ 'home.label.member' | translate }}</h4>
                <p>20</p>
            </div>
            <img src="../../assets/images/user.svg">
        </div>
        <div class="col-md-3 item d-flex justify-content-around">
            <div class="group-text d-flex flex-column ">
                <h4>{{ 'home.label.suggestion' | translate }}</h4>
                <p>20</p>
            </div>
            <img src="../../assets/images/help.svg">
        </div>
        <div class="col-md-3 item d-flex justify-content-around">
            <div class="group-text d-flex flex-column ">
                <h4>{{ 'home.label.meeting' | translate }}</h4>
                <p>20</p>
            </div>
            <img src="../../assets/images/meeting-icon.png">
        </div>
        <div class="col-md-3 item d-flex justify-content-around">
            <div class="group-text d-flex flex-column ">
                <h4>{{ 'home.label.circulars' | translate }}</h4>
                <p>20</p>
            </div>
            <img src="../../assets/images/circulars-icons.png">
        </div>
    </div>
    <div class="table-review d-flex">
        <div class="col-md-6 item-table-r">
            <div class="table-new-r">
                <div class="group d-flex justify-content-between">
                    <h3>{{ 'home.label.news' | translate }}</h3>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div *ngFor="let news of newsList" class="section-news d-flex justify-content-between">
                    <div class="img-title d-flex">
                        <img src="{{ news['contentImages'][0] ? news['contentImages'][0]['imagePath'] : '../../assets/images/no-image-box.png'}}">
                        <div class="title">
                            <h6>{{ (news['title'+contentLang].length>cutLength)? (news['title'+contentLang] | slice:0:cutLength)+'....' :(news['title'+contentLang]) }}
                            </h6>
                            <p>{{ (news['body'+contentLang].length>cutLength)? (news['body'+contentLang] | slice:0:cutLength)+'....' :(news['body'+contentLang]) }}
                            </p>
                        </div>
                    </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                            <p>10:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 item-table-r">
            <div class="table-new-r">
                <div class="group d-flex justify-content-between">
                    <h3>{{ 'home.label.activities' | translate }}</h3>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div *ngFor="let activity of activitesList" class="section-news d-flex justify-content-between">
                    <div class="img-title d-flex">
                        <img src="{{ activity['contentImages'][0] ? activity['contentImages'][0]['imagePath'] : '../../assets/images/no-image-box.png'}}">
                        <div class="title">
                            <h6>{{ (activity['title'+contentLang].length> cutLength)? (activity['title'+contentLang] | slice:0:cutLength)+'....' : (activity['title'+contentLang]) }}{{ activity['title'+contentLang]}}
                            </h6>
                            <p>{{ (activity['body'+contentLang].length> cutLength)? (activity['body'+contentLang] | slice:0:cutLength)+'....' : (activity['body'+contentLang]) }}
                            </p>
                        </div>
                    </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                            <p>10:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-review d-flex">
        <div class="col-md-6 item-table-r">
            <div class="table-new-r ">
                <div class="group d-flex justify-content-between">
                    <h3>{{ 'home.label.suggestion' | translate }}</h3>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div class="section-news d-flex justify-content-between">
                    <div class="suggestion img-title d-flex">
                        <img src="../../assets/images/pho.png">
                        <div class="title">
                            <h6>Amr Mohy</h6>
                            <p>Contrary to popular belief …..</p>
                        </div>
                    </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                            <p>10:00 PM</p>
                        </div>
                    </div>
                </div>
                <div class="section-news d-flex justify-content-between">
                    <div class="suggestion img-title d-flex">
                        <img src="../../assets/images/pho.png">
                        <div class="title">
                            <h6>Amr Mohy</h6>
                            <p>Contrary to popular belief …..</p>
                        </div>
                    </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                            <p>10:00 PM</p>
                        </div>
                    </div>
                </div>
                <div class="section-news d-flex justify-content-between">
                    <div class="suggestion img-title d-flex">
                        <img src="../../assets/images/pho.png">
                        <div class="title">
                            <h6>Amr Mohy</h6>
                            <p>Contrary to popular belief …..</p>
                        </div>
                    </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                            <p>10:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 item-table-r">
            <div class="table-new-r">
                <div class="group d-flex justify-content-between">
                    <h3>{{ 'home.label.meeting' | translate }}</h3>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div *ngFor="let meeting of meetingList" class="section-news d-flex justify-content-between">
                    <div class="img-title d-flex">
                        <div class="meeting-dashboard d-flex flex-column align-items-center">
                            <h4>{{meeting['startDate'] | date:'dd'}}</h4>
                            <h5>{{meeting['startDate'] | date:'MMM'}}</h5>
                        </div>
                        <div class="title">
                            <h6>{{ (meeting['title'+contentLang].length>cutLength)? (meeting['title'+contentLang] | slice:0:cutLength)+'....' : (meeting['title'+contentLang])}}
                            </h6>
                            <p>{{ (meeting['body'+contentLang].length>cutLength)? (meeting['body'+contentLang] | slice:0:cutLength)+'....' : (meeting['body'+contentLang])}}
                            </p>
                        </div>
                    </div>
                    <div class="tools">
                        <div class="icons">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                        <div class="time">
                            <p>{{meeting['startDate'] | date:'hh:mm a'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>