<app-nav></app-nav>
<app-side-menu></app-side-menu>
<section class="content">
    <div class="row">
        <div class="container">
            <div class="title-create d-flex justify-content-between">
                <h2>{{ 'general.label.conferences' | translate}}</h2>
                <button class="button-create" (click)="create()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'general.btn.create' | translate }}
                </button>
            </div>
            <div class="all-cards d-flex flex-column">
                <app-meeting-conference 
                    [page]="pageOwner"
                    [contentList]="contentList"
                ></app-meeting-conference>
            </div>
        </div>
    </div>
</section>