<div *ngFor="let content of contentList" class="item d-flex justify-content-between">
  <div class="photo-title d-flex">
      <img class="img-content" [src]="content['contentImages'][0] ? content['contentImages'][0]['imagePath'] : ''"
      onError="this.src='assets/images/no-image-box.png'">
      <div class="title">
          <h3>{{ content['title'+contentLang]}}</h3>
          <p>{{ content['body'+contentLang]}}</p>
          <div class="time d-flex flex-column">
              <div class="time-item f-flex">
                  <p>{{ 'meeting.label.startMeeting' | translate }}</p> <span><i class="fa fa-clock-o" aria-hidden="true"> </i>{{ content['startDate'] | date:'hh:mm'}}
                      <i class="fa fa-calendar" aria-hidden="true"></i> {{ content['startDate'] | date:'dd/MM/yyyy'}}
                  </span>
              </div>
              <div class="time-item f-flex">
                  <p>{{ 'meeting.label.endMeeting' | translate }}</p> <span><i class="fa fa-clock-o" aria-hidden="true"> </i>{{ content['endDate'] | date:'hh:mm'}}<i
                          class="fa fa-calendar" aria-hidden="true"></i> {{ content['endDate'] | date:'dd/MM/yyyy'}}
                  </span>
              </div>
          </div>
      </div>
  </div>
  <div class="tools d-flex ">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
  </div>
</div>