<!-- Circulars Page / News Corporates Page -->
<app-nav></app-nav>
<app-side-menu></app-side-menu>
<section class="content">
    <div class="row">
        <div class="container">
            <div class="title-create d-flex justify-content-between">
                <h2>{{ 'general.label.circulars' | translate }}</h2>
                <button class="button-create">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'general.btn.create' | translate }}
                </button>
            </div>
            <div class="all-cards d-flex flex-column">
                <div *ngFor="let content of contentList" class="item d-flex justify-content-between">
                    <div class="photo-title d-flex">
                        <img class="img-content" [src]="content['contentImages'][0] ? content['contentImages'][0]['imagePath'] : ''"
                        onError="this.src='assets/images/no-image-box.png'">
                        <div class="title">
                            <h3>{{ content['title'+contentLang]}}</h3>
                            <p>{{ content['body'+contentLang]}}</p>
                            <h6 class="private">Private </h6>
                        </div>
                    </div>
                    <div class="tools d-flex ">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>