<div class="modal-dialog modal-lg modal-dialog-centered" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      <button type="button" class="close" (click)="close()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-body">
        <!-- row -->
        <div class="row p-t-20">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">
            </div>
          </div>
          <!--/span-->
          <div class="col-md-6">
            <div class="form-group has-danger">
              <label class="control-label">Last Name</label>
              <input type="text" id="lastName" class="form-control form-control-danger" placeholder="12n">            
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->

        <!-- row -->
        <div class="row p-t-20">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Email</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">
            </div>
          </div>
          <!--/span-->
          <div class="col-md-6">
            <div class="form-group has-danger">
              <label class="control-label">Phone number</label>
              <input type="text" id="lastName" class="form-control form-control-danger" placeholder="12n">
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->

        <!-- row -->
        <div class="row p-t-20">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">password</label>
              <input type="text" id="firstName" class="form-control" placeholder="John doe">
             </div>
          </div>
          <!--/span-->
          <div class="col-md-6">
            <div class="form-group has-danger">
              <label class="control-label">confirm password</label>
              <input type="text" id="lastName" class="form-control form-control-danger" placeholder="12n">
            </div>
          </div>
          <!--/span-->
        </div>
        <!--/row-->

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary signupBtn" (click)="confirm()">Save changes</button>
    </div>
  </div>
</div>