
<!-- News Page / Activities Page / Report Page /About Us (without images)-->
<app-nav></app-nav>
<app-side-menu></app-side-menu> 
<section class="content">
    <div class="row"> 
        <div class="container">
            <div class="title-create d-flex justify-content-between">
                <h2>{{ 'general.label.news' | translate }}</h2>
                <button class="button-create" (click)="create()">
                    <i class="fa fa-plus" aria-hidden="true"></i> 
                    {{ 'general.btn.create'  | translate }}
                </button>
            </div>
        <div class="all-cards d-flex flex-column">
            <app-content-like-news 
                [page]="pageOwner" 
                [contentList]="contentList"
            ></app-content-like-news>
        </div> 
    </div>
    </div>
</section>