.popup { 
    position: fixed;  
    width: 100%;
    height: 100%;
    background: #00000099;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0; 
    bottom: 0;
    overflow: scroll; 
    justify-content: start;
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;

    .box{
        
        background: #FAFAFA;
        box-shadow: 0px 1px 34px -18px #00000080;
        padding: 38px 42px;
        width: 890px;
        border-radius: 16px;
        text-align: left;
        flex-direction: column;
        position: relative; 
        .item-filed{
            margin-bottom: 31px;
            label{ 
            color: #439048;
            font-weight: 600;
            font-size: 20px;
            padding-left: 5px;
            }
            .form-group input, .form-group textarea {
                padding-left: 15px;
                border-radius: 19px;
                height: 38px;
                border: none;
                color: #000;
                background: #ffffff;
                box-shadow: 6px 4px 25px -12px #6b6b6b;
                -webkit-transition: all .3s ease-in 0s;
                -moz-transition: all .3s ease-in 0s;
                -ms-transition: all .3s ease-in 0s;
                -o-transition: all .3s ease-in 0s;
                transition: all .3s ease-in 0s;
            }
            .form-group input:hover, .form-group textarea:hover {
                box-shadow: 6px 4px 25px -3px #6b6b6b;
                -webkit-transition: all .3s ease-in 0s;
                -moz-transition: all .3s ease-in 0s;
                -ms-transition: all .3s ease-in 0s;
                -o-transition: all .3s ease-in 0s;
                transition: all .3s ease-in 0s;
            }

            .form-group textarea {
                height: 100px;
            }
            .upload-btn-wrapper {
                position: relative;
                overflow: hidden;
            }
            .upload-btn-wrapper input[type=file] {
                font-size: 20px;
                position: absolute;
                left: 0;
                top: 0;
                cursor: pointer;
                opacity: 0;
                height: 107px;
                width: 130px;
            }        
              .fa{
                    font-size: 44px;
                    color: #8e8e8e;
              }
            }
            .btn-upload{
                background: #fff;
                border: 1px solid #adadad;
                border-radius: 50%;
                height: 119px;
            }
            .media{
                margin-right: 21px;
                height: 100%;
                width: 180px;
                margin-top: 31px;
            }
            .create-popup{
                height: 42px;
                box-shadow:5px 2px 26px -11px #4e4e4e;
                border-radius: 81px;
                margin-top: 0px;
                background: #3F8144;
                color: #fff;
                font-weight: 700;
                border: none;
                transition: all 0.5s ease-in 0s;
                cursor: pointer;
                padding-top: 3px; 
                font-size: 20px; 
                padding: 7px 76px;
                margin-top: 13px;
        }
        .create-popup:hover{
            box-shadow: 5px 2px 26px -1px #4e4e4e;
        }
        .close-x .fa {
            position: absolute;
            right: 20px;
            font-size: 37px;
            color: #439048;
            cursor: pointer;
        } 
    
        h2{
            text-align: center;
            color: #439048;
            margin-bottom: 21px;
            padding-top: 14px;
        }
        .select-form {
            border: none;
            box-shadow: 6px 4px 25px -12px #6b6b6b
        }
    }
}