<app-circulars></app-circulars>
<!-- Create Circulars / Create ADS -->
<section class="popup">
    <div class="box">
        <div class="close-x">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <h2>Create Circulars</h2>
        <div class="two-filed-branch"> 
            <div class="item-filed col-12">
                <div class="form-group">
                    <label> Title Text</label>
                    <input type="text" class="form-control" placeholder="Please write title text">
                </div>
            </div>
            <div class="item-filed col-12">
                <div class="form-group">
                    <label>   Details</label>
                     <textarea type="text" class="form-control" placeholder="Please write title Details">  </textarea>
                </div>
            </div> 
            <div class="item-filed col-12">
                <div class="form-group">
                    <label> Select Private Or Public  </label>
                    <select class="form-control select-form">
                        <option value="public">Public</option>
                        <option value="private">Private</option> 
                      </select>
                 </div>
            </div> 
            <div class="item-filed col-12 d-flex">
                <div class="media">
                <img src="../../assets/images/news.png">
                </div>
                <div class="upload-btn-wrapper d-flex flex-column">
                    <label> Upload Logo</label>
                    <button class="btn-upload"><i class="fa fa-camera" aria-hidden="true"></i>
                    </button>
                    <input type="file" name="myfile" />
                </div>
             </div>
             <div class="item-filed col-12 d-flex justify-content-center">
                 <button class="create-popup">Create</button>
                 </div> 
        </div>
    </div>
</section>