<section class="login-page d-flex ">
    <div class="col-md-6">
        <div class="form-sign d-flex flex-column justify-content-center align-items-center">
            <img src="../../assets/images/logo.png" alt="logo.png" />
            <form [formGroup]="form" (ngSubmit)="login()" class="form-group">
                <div class="input-style">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="email" formControlName="email" class="form-control" placeholder="email" />
                    <div class="error" *ngIf="((form.get('email').touched) && (form.get('email').invalid))">
                        <span *ngIf="form.get('email').errors.required" class="text-danger">
                            {{ 'general.label.requiredField' | translate }}
                        </span>
                    </div>
                </div>
                <div class="input-style">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    <input type="password" formControlName="password" class="form-control" placeholder="Password" />
                    <div class="error" *ngIf="((form.get('password').touched) && (form.get('password').invalid))">
                        <span *ngIf="form.get('password').errors.required" class="text-danger">
                            {{ 'general.label.requiredField' | translate }}
                        </span>
                    </div>
                </div>
                <!-- <button type="button" >Sign In</button> -->
                <button type="submit">Sign In</button>
                <div class="links-login d-flex justify-content-between">
                    <a href="">Forget Password </a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6 details-login">
        <div class="descript-service d-flex flex-column justify-content-center align-items-center">
            <div class="center">
                <h1>Web Admin Page</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s,</p>
            </div>
            <div class="footer-social d-flex justify-content-center">
                <div class="email">
                    <p>2020 © Nabd </p>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>