<section class="side-menu">
    <div class="logo">
        <img src="../../assets/images/logo.png">
    </div>
    <ul>
        <li routerLink="/{{lang}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <svg class="icon-side" width="20px" height="18px" viewBox="0 0 20 18" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-57.000000, -161.000000)" fill="#FFFFFF">
                        <g id="home" transform="translate(57.000000, 161.000000)">
                            <path
                                d="M19.7877193,7.05902534 L10.3258869,0.131267057 C10.1434308,-0.00230019493 9.89555556,-0.00230019493 9.71317739,0.131267057 L0.251267057,7.05902534 C0.0201559454,7.22826511 -0.0300584795,7.55278752 0.139181287,7.78389864 C0.308421053,8.01500975 0.632982456,8.0651462 0.864054581,7.89598441 L10.0194932,1.19251462 L19.1749318,7.89594542 C19.2672515,7.96358674 19.3745419,7.99614035 19.4808967,7.99614035 C19.6405848,7.99614035 19.7981676,7.92265107 19.8997661,7.78385965 C20.0690448,7.55278752 20.0188304,7.22826511 19.7877193,7.05902534 Z"
                                id="Path"></path>
                            <path
                                d="M17.2805458,8.01337232 C16.994152,8.01337232 16.7619103,8.24557505 16.7619103,8.5320078 L16.7619103,16.7873294 L12.6129045,16.7873294 L12.6129045,12.2810526 C12.6129045,10.8510331 11.4494737,9.68768031 10.0195322,9.68768031 C8.58959064,9.68768031 7.42615984,10.8511111 7.42615984,12.2810526 L7.42615984,16.7873684 L3.27711501,16.7873684 L3.27711501,8.53204678 C3.27711501,8.24561404 3.04487329,8.01341131 2.75847953,8.01341131 C2.47208577,8.01341131 2.23984405,8.24561404 2.23984405,8.53204678 L2.23984405,17.3060429 C2.23984405,17.5924756 2.47208577,17.8246784 2.75847953,17.8246784 L7.94479532,17.8246784 C8.21754386,17.8246784 8.44074074,17.6139571 8.46140351,17.3464327 C8.46265107,17.334308 8.4634308,17.3210526 8.4634308,17.3060429 L8.4634308,12.2810916 C8.4634308,11.4230409 9.16148148,10.7249903 10.0195322,10.7249903 C10.8775828,10.7249903 11.5756335,11.4230799 11.5756335,12.2810916 L11.5756335,17.3060429 C11.5756335,17.3209747 11.5764133,17.3339961 11.5776608,17.3459649 C11.5980897,17.6136842 11.8213645,17.8246784 12.094269,17.8246784 L17.2805848,17.8246784 C17.5670175,17.8246784 17.7992203,17.5924756 17.7992203,17.3060429 L17.7992203,8.53204678 C17.7991813,8.24557505 17.5669786,8.01337232 17.2805458,8.01337232 Z"
                                id="Path"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.home' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/news" routerLinkActive="active">
            <svg class="icon-side" width="18px" height="18px" viewBox="0 0 18 18" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-58.000000, -584.000000)" fill="#FFFFFF">
                        <g id="Group-8" transform="translate(58.000000, 578.000000)">
                            <g id="news" transform="translate(0.000000, 6.000000)">
                                <path
                                    d="M17.625,0.1125 L3.0288,0.1125 C2.88382525,0.1125 2.7663,0.230025253 2.7663,0.375 L2.7663,2.7663 L0.375,2.7663 C0.230025253,2.7663 0.1125,2.88382525 0.1125,3.0288 L0.1125,16.2981 C0.113161786,17.1759585 0.824641515,17.8874382 1.7025,17.8881 L16.2987,17.8881 C17.1765927,17.8875208 17.8881208,17.1759927 17.8887,16.2981 L17.8887,0.375 C17.8887007,0.305172258 17.8608799,0.238221854 17.8113918,0.188958914 C17.7619036,0.139695974 17.694827,0.112180787 17.625,0.1125 Z M1.7019,17.3625 C1.11371674,17.3625 0.6369,16.8856833 0.6369,16.2975 L0.6369,3.2913 L14.7081,3.2913 L14.7081,16.2981 C14.7075979,16.6917198 14.8537518,17.0714097 15.11805,17.3631 L1.7019,17.3625 Z M17.3619,16.2975 C17.3426261,16.8714462 16.8717697,17.3267559 16.2975,17.3267559 C15.7232303,17.3267559 15.2523739,16.8714462 15.2331,16.2975 L15.2331,3.0288 C15.2331,2.88382525 15.1155747,2.7663 14.9706,2.7663 L3.2913,2.7663 L3.2913,0.6375 L17.3625,0.6375 L17.3619,16.2975 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <polygon id="Path"
                                    points="2.3064 5.6865 3.46455 7.10865 3.7854 7.10865 3.7854 5.00865 3.39855 5.00865 3.39855 6.43065 2.24055 5.00865 1.9194 5.00865 1.9194 7.10865 2.3064 7.10865">
                                </polygon>
                                <polygon id="Path"
                                    points="6.07455 6.78165 4.88955 6.78165 4.88955 6.20265 5.90355 6.20265 5.90355 5.88165 4.88955 5.88165 4.88955 5.3355 6.03255 5.3355 6.03255 5.00865 4.49955 5.00865 4.49955 7.10865 6.07455 7.10865">
                                </polygon>
                                <polygon id="Path"
                                    points="7.54155 7.10865 8.06955 5.5545 8.58855 7.10865 9.00255 7.10865 9.69855 5.00865 9.3267 5.00865 8.78955 6.61365 8.25855 5.00865 7.89855 5.00865 7.35555 6.6045 6.83355 5.00865 6.42855 5.00865 7.12455 7.10865">
                                </polygon>
                                <path
                                    d="M11.16705,6.73965 C11.0598247,6.79675607 10.9387648,6.82273459 10.81755,6.81465 C10.6893361,6.81424048 10.562089,6.79244117 10.44105,6.75015 C10.3269304,6.71286006 10.2199264,6.65656883 10.12455,6.58365 L9.98955,6.88665 C10.0950224,6.97195222 10.2171198,7.0343292 10.34805,7.0698 C10.5002573,7.11597797 10.6584926,7.13923299 10.81755,7.1388 C10.9776729,7.1431788 11.136982,7.11453381 11.28555,7.05465 C11.4007674,7.00887888 11.500272,6.93073392 11.57205,6.82965 C11.6347711,6.73666562 11.6677295,6.62680456 11.66655,6.51465 C11.6728301,6.39713012 11.6348302,6.28152506 11.56005,6.19065 C11.4901299,6.11144536 11.4021437,6.05026664 11.30355,6.0123 C11.1783864,5.96572142 11.050061,5.92812611 10.91955,5.8998 C10.80545,5.8718 10.71545,5.8468 10.64955,5.8248 C10.5895586,5.80608532 10.5339524,5.77547638 10.48605,5.7348 C10.443554,5.69804508 10.4198646,5.64411042 10.42155,5.58795 C10.4202732,5.50402494 10.4629331,5.42553064 10.53405,5.38095 C10.6383214,5.32155336 10.7578451,5.2943604 10.87755,5.3028 C10.9759629,5.30345481 11.0738224,5.31758614 11.1684,5.3448 C11.2693351,5.37318308 11.3661851,5.41447413 11.45655,5.46765 L11.5794,5.16465 C11.4809337,5.10090345 11.3724071,5.05424715 11.2584,5.02665 C11.1348824,4.99474721 11.0078211,4.97861884 10.88025,4.97865 C10.7206547,4.9741662 10.561863,5.00281918 10.4139,5.0628 C10.2989701,5.10910716 10.1999609,5.18779341 10.1289,5.2893 C10.0663348,5.38291799 10.0334056,5.4932045 10.0344,5.6058 C10.0279549,5.72466967 10.0659114,5.84169328 10.1409,5.93415 C10.2099292,6.01371297 10.2975154,6.07502335 10.3959,6.11265 C10.5228221,6.15893948 10.65259,6.19701807 10.7844,6.22665 C10.8984,6.25465 10.9884,6.27965 11.0544,6.30165 C11.1147162,6.32034071 11.1704235,6.35151635 11.2179,6.39315 C11.2603228,6.43060997 11.2839924,6.48492386 11.28255,6.5415 C11.282681,6.62356741 11.2385248,6.69932102 11.16705,6.73965 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,8.769 L2.025,8.769 C1.88002525,8.769 1.7625,8.88652525 1.7625,9.0315 C1.7625,9.17647475 1.88002525,9.294 2.025,9.294 L13.3212,9.294 C13.4661747,9.294 13.5837,9.17647475 13.5837,9.0315 C13.5837,8.88652525 13.4661747,8.769 13.3212,8.769 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,10.935 L2.025,10.935 C1.88002525,10.935 1.7625,11.0525253 1.7625,11.1975 C1.7625,11.3424747 1.88002525,11.46 2.025,11.46 L13.3212,11.46 C13.4661747,11.46 13.5837,11.3424747 13.5837,11.1975 C13.5837,11.0525253 13.4661747,10.935 13.3212,10.935 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,15.2691 L2.025,15.2691 C1.88002525,15.2691 1.7625,15.3866253 1.7625,15.5316 C1.7625,15.6765747 1.88002525,15.7941 2.025,15.7941 L13.3212,15.7941 C13.4661747,15.7941 13.5837,15.6765747 13.5837,15.5316 C13.5837,15.3866253 13.4661747,15.2691 13.3212,15.2691 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,13.1025 L2.025,13.1025 C1.88002525,13.1025 1.7625,13.2200253 1.7625,13.365 C1.7625,13.5099747 1.88002525,13.6275 2.025,13.6275 L13.3212,13.6275 C13.4661747,13.6275 13.5837,13.5099747 13.5837,13.365 C13.5837,13.2200253 13.4661747,13.1025 13.3212,13.1025 Z"
                                    id="Path"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.news' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/activities" routerLinkActive="active">
            <svg class="icon-side" width="18px" height="18px" viewBox="0 0 18 18" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-58.000000, -584.000000)" fill="#FFFFFF">
                        <g id="Group-8" transform="translate(58.000000, 578.000000)">
                            <g id="news" transform="translate(0.000000, 6.000000)">
                                <path
                                    d="M17.625,0.1125 L3.0288,0.1125 C2.88382525,0.1125 2.7663,0.230025253 2.7663,0.375 L2.7663,2.7663 L0.375,2.7663 C0.230025253,2.7663 0.1125,2.88382525 0.1125,3.0288 L0.1125,16.2981 C0.113161786,17.1759585 0.824641515,17.8874382 1.7025,17.8881 L16.2987,17.8881 C17.1765927,17.8875208 17.8881208,17.1759927 17.8887,16.2981 L17.8887,0.375 C17.8887007,0.305172258 17.8608799,0.238221854 17.8113918,0.188958914 C17.7619036,0.139695974 17.694827,0.112180787 17.625,0.1125 Z M1.7019,17.3625 C1.11371674,17.3625 0.6369,16.8856833 0.6369,16.2975 L0.6369,3.2913 L14.7081,3.2913 L14.7081,16.2981 C14.7075979,16.6917198 14.8537518,17.0714097 15.11805,17.3631 L1.7019,17.3625 Z M17.3619,16.2975 C17.3426261,16.8714462 16.8717697,17.3267559 16.2975,17.3267559 C15.7232303,17.3267559 15.2523739,16.8714462 15.2331,16.2975 L15.2331,3.0288 C15.2331,2.88382525 15.1155747,2.7663 14.9706,2.7663 L3.2913,2.7663 L3.2913,0.6375 L17.3625,0.6375 L17.3619,16.2975 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <polygon id="Path"
                                    points="2.3064 5.6865 3.46455 7.10865 3.7854 7.10865 3.7854 5.00865 3.39855 5.00865 3.39855 6.43065 2.24055 5.00865 1.9194 5.00865 1.9194 7.10865 2.3064 7.10865">
                                </polygon>
                                <polygon id="Path"
                                    points="6.07455 6.78165 4.88955 6.78165 4.88955 6.20265 5.90355 6.20265 5.90355 5.88165 4.88955 5.88165 4.88955 5.3355 6.03255 5.3355 6.03255 5.00865 4.49955 5.00865 4.49955 7.10865 6.07455 7.10865">
                                </polygon>
                                <polygon id="Path"
                                    points="7.54155 7.10865 8.06955 5.5545 8.58855 7.10865 9.00255 7.10865 9.69855 5.00865 9.3267 5.00865 8.78955 6.61365 8.25855 5.00865 7.89855 5.00865 7.35555 6.6045 6.83355 5.00865 6.42855 5.00865 7.12455 7.10865">
                                </polygon>
                                <path
                                    d="M11.16705,6.73965 C11.0598247,6.79675607 10.9387648,6.82273459 10.81755,6.81465 C10.6893361,6.81424048 10.562089,6.79244117 10.44105,6.75015 C10.3269304,6.71286006 10.2199264,6.65656883 10.12455,6.58365 L9.98955,6.88665 C10.0950224,6.97195222 10.2171198,7.0343292 10.34805,7.0698 C10.5002573,7.11597797 10.6584926,7.13923299 10.81755,7.1388 C10.9776729,7.1431788 11.136982,7.11453381 11.28555,7.05465 C11.4007674,7.00887888 11.500272,6.93073392 11.57205,6.82965 C11.6347711,6.73666562 11.6677295,6.62680456 11.66655,6.51465 C11.6728301,6.39713012 11.6348302,6.28152506 11.56005,6.19065 C11.4901299,6.11144536 11.4021437,6.05026664 11.30355,6.0123 C11.1783864,5.96572142 11.050061,5.92812611 10.91955,5.8998 C10.80545,5.8718 10.71545,5.8468 10.64955,5.8248 C10.5895586,5.80608532 10.5339524,5.77547638 10.48605,5.7348 C10.443554,5.69804508 10.4198646,5.64411042 10.42155,5.58795 C10.4202732,5.50402494 10.4629331,5.42553064 10.53405,5.38095 C10.6383214,5.32155336 10.7578451,5.2943604 10.87755,5.3028 C10.9759629,5.30345481 11.0738224,5.31758614 11.1684,5.3448 C11.2693351,5.37318308 11.3661851,5.41447413 11.45655,5.46765 L11.5794,5.16465 C11.4809337,5.10090345 11.3724071,5.05424715 11.2584,5.02665 C11.1348824,4.99474721 11.0078211,4.97861884 10.88025,4.97865 C10.7206547,4.9741662 10.561863,5.00281918 10.4139,5.0628 C10.2989701,5.10910716 10.1999609,5.18779341 10.1289,5.2893 C10.0663348,5.38291799 10.0334056,5.4932045 10.0344,5.6058 C10.0279549,5.72466967 10.0659114,5.84169328 10.1409,5.93415 C10.2099292,6.01371297 10.2975154,6.07502335 10.3959,6.11265 C10.5228221,6.15893948 10.65259,6.19701807 10.7844,6.22665 C10.8984,6.25465 10.9884,6.27965 11.0544,6.30165 C11.1147162,6.32034071 11.1704235,6.35151635 11.2179,6.39315 C11.2603228,6.43060997 11.2839924,6.48492386 11.28255,6.5415 C11.282681,6.62356741 11.2385248,6.69932102 11.16705,6.73965 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,8.769 L2.025,8.769 C1.88002525,8.769 1.7625,8.88652525 1.7625,9.0315 C1.7625,9.17647475 1.88002525,9.294 2.025,9.294 L13.3212,9.294 C13.4661747,9.294 13.5837,9.17647475 13.5837,9.0315 C13.5837,8.88652525 13.4661747,8.769 13.3212,8.769 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,10.935 L2.025,10.935 C1.88002525,10.935 1.7625,11.0525253 1.7625,11.1975 C1.7625,11.3424747 1.88002525,11.46 2.025,11.46 L13.3212,11.46 C13.4661747,11.46 13.5837,11.3424747 13.5837,11.1975 C13.5837,11.0525253 13.4661747,10.935 13.3212,10.935 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,15.2691 L2.025,15.2691 C1.88002525,15.2691 1.7625,15.3866253 1.7625,15.5316 C1.7625,15.6765747 1.88002525,15.7941 2.025,15.7941 L13.3212,15.7941 C13.4661747,15.7941 13.5837,15.6765747 13.5837,15.5316 C13.5837,15.3866253 13.4661747,15.2691 13.3212,15.2691 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,13.1025 L2.025,13.1025 C1.88002525,13.1025 1.7625,13.2200253 1.7625,13.365 C1.7625,13.5099747 1.88002525,13.6275 2.025,13.6275 L13.3212,13.6275 C13.4661747,13.6275 13.5837,13.5099747 13.5837,13.365 C13.5837,13.2200253 13.4661747,13.1025 13.3212,13.1025 Z"
                                    id="Path"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.activities' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/meeting" routerLinkActive="active">
            <svg class="icon-side" width="18px" height="19px" viewBox="0 0 18 19" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-59.000000, -281.000000)" fill="#FFFFFF">
                        <g id="meeting" transform="translate(59.000000, 276.000000)">
                            <g id="Group-21" transform="translate(0.000000, 5.000000)">
                                <rect id="Rectangle" x="8.7" y="9.9" width="1" height="1"></rect>
                                <path
                                    d="M16.7403,6.3243 C17.1453,5.9412 17.4,5.4003 17.4,4.8 C17.4,3.642 16.458,2.7 15.3,2.7 C14.142,2.7 13.2,3.642 13.2,4.8 C13.2,5.5368 13.5822,6.1851 14.1579,6.5598 C13.7613,6.8301 13.5,7.2849 13.5,7.8 L13.5,9.9 L12.3,9.9 L12.3,8.4 C12.3,7.3266 11.49,6.4398 10.449,6.3162 C10.8492,5.9337 11.1,5.3961 11.1,4.8 C11.1,3.642 10.158,2.7 9,2.7 C7.842,2.7 6.9,3.642 6.9,4.8 C6.9,5.3961 7.1508,5.9337 7.551,6.3162 C6.51,6.4398 5.7,7.3266 5.7,8.4 L5.7,9.9 L4.5,9.9 L4.5,7.8 C4.5,7.2849 4.2387,6.8301 3.8421,6.5598 C4.4178,6.1851 4.8,5.5368 4.8,4.8 C4.8,3.642 3.858,2.7 2.7,2.7 C1.542,2.7 0.6,3.642 0.6,4.8 C0.6,5.4003 0.8547,5.9412 1.2597,6.3243 C0.5472,6.4401 0,7.0551 0,7.8 L0,12.3 C0,13.0242 0.5163,13.6302 1.2,13.7697 L1.2,18.3 L1.8,18.3 L1.8,13.8 L4.5,13.8 L4.5,18 C4.5,18.1656 4.6344,18.3 4.8,18.3 L6.6,18.3 C6.7656,18.3 6.9,18.1656 6.9,18 L6.9,13.2 L8.7,13.2 L8.7,17.7 L7.5,17.7 L7.5,18.3 L10.5,18.3 L10.5,17.7 L9.3,17.7 L9.3,13.2 L11.1,13.2 L11.1,18 C11.1,18.1656 11.2344,18.3 11.4,18.3 L13.2,18.3 C13.3656,18.3 13.5,18.1656 13.5,18 L13.5,13.8 L16.2,13.8 L16.2,18.3 L16.8,18.3 L16.8,13.7697 C17.4837,13.6302 18,13.0245 18,12.3 L18,7.8 C18,7.0551 17.4528,6.4401 16.7403,6.3243 Z M13.8,4.8 C13.8,3.9729 14.4729,3.3 15.3,3.3 C16.1271,3.3 16.8,3.9729 16.8,4.8 C16.8,5.6271 16.1271,6.3 15.3,6.3 C14.4729,6.3 13.8,5.6271 13.8,4.8 Z M7.5,4.8 C7.5,3.9729 8.1729,3.3 9,3.3 C9.8271,3.3 10.5,3.9729 10.5,4.8 C10.5,5.6271 9.8271,6.3 9,6.3 C8.1729,6.3 7.5,5.6271 7.5,4.8 Z M9.4671,6.9 L9,8.1456 L8.5329,6.9 L9.4671,6.9 Z M6.3,8.4 C6.3,7.5729 6.9729,6.9 7.8,6.9 L7.8921,6.9 L8.7192,9.1053 C8.763,9.2223 8.8749,9.3 9,9.3 C9.1251,9.3 9.237,9.2223 9.2811,9.1053 L10.1079,6.9 L10.2,6.9 C11.0271,6.9 11.7,7.5729 11.7,8.4 L11.7,9.9 L10.5,9.9 C10.3344,9.9 10.2,10.0344 10.2,10.2 L10.2,11.4 L7.8,11.4 L7.8,10.2 C7.8,10.0344 7.6656,9.9 7.5,9.9 L6.3,9.9 L6.3,8.4 Z M1.2,4.8 C1.2,3.9729 1.8729,3.3 2.7,3.3 C3.5271,3.3 4.2,3.9729 4.2,4.8 C4.2,5.6271 3.5271,6.3 2.7,6.3 C1.8729,6.3 1.2,5.6271 1.2,4.8 Z M6.3,17.7 L5.1,17.7 L5.1,13.5 C5.1,13.3344 4.9656,13.2 4.8,13.2 L1.5,13.2 C1.0038,13.2 0.6,12.7962 0.6,12.3 L0.6,7.8 C0.6,7.3038 1.0038,6.9 1.5,6.9 L3,6.9 C3.4962,6.9 3.9,7.3038 3.9,7.8 L3.9,10.2 C3.9,10.3656 4.0344,10.5 4.2,10.5 L7.2,10.5 L7.2,11.4 L3,11.4 L3,8.7 L2.4,8.7 L2.4,11.7 C2.4,11.8656 2.5344,12 2.7,12 L5.4,12 C5.8962,12 6.3,12.4038 6.3,12.9 L6.3,17.7 Z M11.1336,12.6 L6.8664,12.6 C6.8211,12.3789 6.7302,12.1743 6.5994,12 L7.5,12 L10.5,12 L11.4006,12 C11.2698,12.1743 11.1789,12.3789 11.1336,12.6 Z M17.4,12.3 C17.4,12.7962 16.9962,13.2 16.5,13.2 L13.2,13.2 C13.0344,13.2 12.9,13.3344 12.9,13.5 L12.9,17.7 L11.7,17.7 L11.7,12.9 C11.7,12.4038 12.1038,12 12.6,12 L15.3,12 C15.4656,12 15.6,11.8656 15.6,11.7 L15.6,8.7 L15,8.7 L15,11.4 L10.8,11.4 L10.8,10.5 L13.8,10.5 C13.9656,10.5 14.1,10.3656 14.1,10.2 L14.1,7.8 C14.1,7.3038 14.5038,6.9 15,6.9 L16.5,6.9 C16.9962,6.9 17.4,7.3038 17.4,7.8 L17.4,12.3 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <path
                                    d="M7.5,0 L3.3,0 C3.1344,0 3,0.1344 3,0.3 L3,1.8 C3,1.9656 3.1344,2.1 3.3,2.1 L4.5,2.1 L4.5,2.7 C4.5,2.8137 4.5642,2.9175 4.6659,2.9685 C4.7082,2.9895 4.7544,3 4.8,3 C4.8636,3 4.9269,2.9796 4.98,2.94 L6.0999,2.1 L7.5,2.1 C7.6656,2.1 7.8,1.9656 7.8,1.8 L7.8,0.3 C7.8,0.1344 7.6656,0 7.5,0 Z M7.2,1.5 L6,1.5 C5.9352,1.5 5.8719,1.521 5.82,1.56 L5.1,2.1 L5.1,1.8 C5.1,1.6344 4.9656,1.5 4.8,1.5 L3.6,1.5 L3.6,0.6 L7.2,0.6 L7.2,1.5 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <rect id="Rectangle" x="10.5" y="0.9" width="1" height="1"></rect>
                                <rect id="Rectangle" x="11.7" y="0.9" width="1" height="1"></rect>
                                <rect id="Rectangle" x="12.9" y="0.9" width="1" height="1"></rect>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2> {{ 'home.label.meeting' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/circulars" routerLinkActive="active">
            <svg class="icon-side" width="15px" height="17px" viewBox="0 0 15 17" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-60.000000, -321.000000)" fill="#FFFFFF">
                        <g id="Group-9" transform="translate(60.000000, 314.000000)">
                            <g id="copy" transform="translate(0.000000, 7.000000)">
                                <path
                                    d="M10.4773176,3 L1.52268245,3 C0.682445759,3 0,3.60114172 0,4.34127575 L0,15.6587242 C0,16.3988583 0.682445759,17 1.52268245,17 L10.4773176,17 C11.3175542,17 12,16.3988583 12,15.6587242 L12,4.34127575 C11.9960552,3.60114172 11.3136095,3 10.4773176,3 Z M10.9309665,15.6552494 C10.9309665,15.8776371 10.7258383,16.0583271 10.4733728,16.0583271 L1.51873767,16.0583271 C1.26627219,16.0583271 1.06114398,15.8776371 1.06114398,15.6552494 L1.06114398,4.34127575 C1.06114398,4.11888806 1.26627219,3.93819806 1.51873767,3.93819806 L10.4733728,3.93819806 C10.7258383,3.93819806 10.9309665,4.11888806 10.9309665,4.34127575 L10.9309665,15.6552494 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <path
                                    d="M13.4773176,0 L4.52268245,0 C3.68244576,0 3,0.601141723 3,1.34127575 C3,1.60188632 3.23668639,1.81037478 3.53254438,1.81037478 C3.82840237,1.81037478 4.06508876,1.60188632 4.06508876,1.34127575 C4.06508876,1.11888806 4.27021696,0.938198064 4.52268245,0.938198064 L13.4773176,0.938198064 C13.729783,0.938198064 13.9349112,1.11888806 13.9349112,1.34127575 L13.9349112,12.6587242 C13.9349112,12.8811119 13.729783,13.0618019 13.4773176,13.0618019 C13.1814596,13.0618019 12.9447732,13.2702904 12.9447732,13.530901 C12.9447732,13.7915115 13.1814596,14 13.4773176,14 C14.3175542,14 15,13.3988583 15,12.6587242 L15,1.34127575 C15,0.601141723 14.3175542,0 13.4773176,0 Z"
                                    id="Path"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.circulars' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/invitations" routerLinkActive="active">
            <svg class="icon-side" width="16px" height="17px" viewBox="0 0 16 17" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                <g id="Page-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="News" transform="translate(-60.000000, -433.000000)" fill="#FFFFFF">
                        <g id="Group-8" transform="translate(60.000000, 428.000000)">
                            <g id="invitation" transform="translate(0.000000, 5.000000)">
                                <path
                                    d="M10.7771414,2.75710227 L4.22285857,2.75710227 C4.0997648,2.75710227 4,2.86583779 4,3 C4,3.13416221 4.09979452,3.24289773 4.22285857,3.24289773 L10.7771414,3.24289773 C10.9002352,3.24289773 11,3.13416221 11,3 C11,2.86583779 10.9002352,2.75710227 10.7771414,2.75710227 Z"
                                    id="Path"></path>
                                <path
                                    d="M10.7771414,4.75710227 L4.22285857,4.75710227 C4.0997648,4.75710227 4,4.86583779 4,5 C4,5.13416221 4.09979452,5.24289773 4.22285857,5.24289773 L10.7771414,5.24289773 C10.9002352,5.24289773 11,5.13416221 11,5 C11,4.86583779 10.9002352,4.75710227 10.7771414,4.75710227 Z"
                                    id="Path"></path>
                                <path
                                    d="M7.74686022,5.75710227 L4.25317353,5.75710227 C4.11333558,5.75710227 4,5.86583779 4,6 C4,6.1341946 4.11336934,6.24289773 4.25317353,6.24289773 L7.74682646,6.24289773 C7.88663065,6.24289773 7.99999999,6.13416221 7.99999999,6 C8.00003375,5.8658054 7.88666441,5.75710227 7.74686022,5.75710227 Z"
                                    id="Path"></path>
                                <path
                                    d="M15.403401,4.87460303 L14.0242656,3.90354064 L14.0242656,3.53747476 C14.0242656,2.64872324 13.3250495,1.92565596 12.4656143,1.92565596 L11.2151357,1.92565596 L8.88184653,0.28289173 C8.34615647,-0.0942972433 7.65387564,-0.0942972433 7.11815347,0.28289173 L4.7869192,1.92426142 L4.78785033,1.92568916 L3.53438567,1.92568916 C2.67495053,1.92568916 1.97573437,2.64875644 1.97573437,3.53750796 L1.97573437,3.90354064 L0.596598959,4.87456982 C0.223022247,5.1375728 0,5.57366435 0,6.04103336 L0,15.9421111 C0,16.2868937 0.134436244,17 1.02299335,17 L14.9770067,17 C15.5411123,17 16,16.5254259 16,15.9421111 L16,6.04103336 C16.0000321,5.57366435 15.7769456,5.13760601 15.403401,4.87460303 Z M7.38917719,0.694479275 C7.76028159,0.433302474 8.23981474,0.433302474 8.61082281,0.694479275 L10.3595214,1.92568916 L5.64054279,1.92568916 L7.38917719,0.694479275 Z M2.45732243,3.53754116 C2.45732243,2.92334736 2.94048379,2.42370478 3.53438567,2.42370478 L12.4655822,2.42370478 C13.0594841,2.42370478 13.5426455,2.92334736 13.5426455,3.53750796 L13.5426455,5.42179266 C13.5426455,5.55935375 13.6504642,5.67078387 13.7834234,5.67078387 C13.9163827,5.67078387 14.0242014,5.55932054 14.0242014,5.42179266 L14.0242014,4.5060469 C14.0242014,4.5060469 15.213739,5.34944277 15.2498284,5.38556791 L9.28188025,9.12080125 C8.49122047,9.61450045 7.50881164,9.61456685 6.71937197,9.12156493 L2.45732243,6.42336884 L2.45732243,3.53754116 Z M1.97576648,4.50598049 L1.97576648,6.11843015 L0.777013875,5.35956976 C0.805493681,5.3333724 1.97576648,4.50598049 1.97576648,4.50598049 Z M0.994288787,16.5005566 L1.84820135,15.4865957 C1.93553514,15.3828687 1.92506793,15.2256181 1.8247625,15.135272 C1.72448918,15.0449592 1.57239353,15.0558498 1.48502763,15.1595104 L0.569339257,16.2467842 C0.514017154,16.1589948 0.481523846,16.0544709 0.481523846,15.9420779 L0.481523846,6.04103336 C0.481523846,5.95138458 0.494495483,5.86362837 0.518640707,5.77992297 L6.30129355,9.44078102 L2.20604514,14.3034309 C2.11871134,14.4071578 2.12917856,14.5644085 2.22948398,14.6547545 C2.27510947,14.6958269 2.43243872,14.7631299 2.56921885,14.6305161 L6.72881172,9.69146559 C7.13147829,9.88992145 7.56564282,9.98929879 7.99996789,9.98929879 C8.43971922,9.98929879 8.87947054,9.88716557 9.28647169,9.68366283 L15.0131282,16.5001914 C15.0011198,16.5009883 1.00385697,16.5010879 0.994288787,16.5005566 Z M15.518444,15.9421111 C15.518444,16.0522795 15.4870745,16.1547779 15.4337431,16.2415048 L9.71354035,9.43271263 L15.4913128,5.81651296 C15.5091006,5.88909527 15.5184762,5.96436705 15.5184762,6.04103336 L15.5184762,15.9421111 L15.518444,15.9421111 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2> {{ 'home.label.invitation' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/conferences" routerLinkActive="active">
            <svg class="icon-side" width="18px" height="18px" viewBox="0 0 18 18" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-58.000000, -395.000000)" fill="#FFFFFF">
                        <g id="Group-8" transform="translate(58.000000, 390.000000)">
                            <g id="discussion" transform="translate(0.000000, 5.000000)">
                                <polygon id="Path"
                                    points="5.76068115 16.5087433 6.28692627 16.5087433 6.28692627 17.9474029 5.76068115 17.9474029">
                                </polygon>
                                <polygon id="Path"
                                    points="11.7130737 16.5087433 12.2393188 16.5087433 12.2393188 17.9474029 11.7130737 17.9474029">
                                </polygon>
                                <path
                                    d="M16.3082428,12.2155609 L15.500061,12.2155609 L15.500061,11.7559204 C16.0029602,11.4072418 16.333374,10.8262024 16.333374,10.16922 L16.333374,9.16918945 C16.333374,8.10502625 15.4676514,7.2393036 14.4034882,7.2393036 C13.3394623,7.2393036 12.4737396,8.10502625 12.4737396,9.16918945 L12.4737396,10.16922 C12.4737396,10.8262024 12.8040161,11.4072418 13.3070526,11.7559204 L13.3070526,12.2154236 L12.4985962,12.2154236 C11.6930237,12.2154236 11.0091248,12.7850647 10.8447418,13.5513611 L10.3596954,13.5513611 L10.3596954,12.8199463 C11.0201111,12.3792572 11.456131,11.6275177 11.456131,10.7756653 L11.456131,9.45991515 C11.456131,8.10557557 10.3543396,7.00378418 9,7.00378418 C7.64566038,7.00378418 6.54386903,8.10557557 6.54386903,9.45991515 L6.54386903,10.7756653 C6.54386903,11.6275177 6.9798889,12.3791199 7.64030457,12.8199463 L7.64030457,13.5513611 L7.15525819,13.5513611 C6.99087523,12.7850647 6.30697634,12.2154236 5.50140381,12.2154236 L4.69294738,12.2154236 L4.69294738,11.7559204 C5.19598389,11.4072418 5.52626037,10.8262024 5.52626037,10.16922 L5.52626037,9.16918945 C5.52626037,8.10502625 4.66053771,7.2393036 3.59651183,7.2393036 C2.53234863,7.2393036 1.66662598,8.10502625 1.66662598,9.16918945 L1.66662598,10.16922 C1.66662598,10.8262024 1.99703981,11.4072418 2.49993896,11.7559204 L2.49993896,12.2155609 L1.69175721,12.2155609 C0.758880633,12.2155609 0,12.9744415 0,13.9073181 L0,17.9474029 L0.526382438,17.9474029 L0.526382438,13.9073181 C0.526382438,13.2646179 1.04905702,12.741806 1.69175721,12.741806 L2.52658083,12.741806 C2.63616943,13.231659 3.07411193,13.5990143 3.59651183,13.5990143 C4.11891173,13.5990143 4.55685427,13.231659 4.66644287,12.741806 L5.50140381,12.741806 C6.01693727,12.741806 6.45996094,13.0803223 6.61102295,13.5513611 L6.49374391,13.5513611 C5.31216429,13.5513611 4.35086058,14.5126648 4.35086058,15.6942444 L4.35086058,17.9474029 L4.87724305,17.9474029 L4.87724305,15.6942444 C4.87724305,14.8028412 5.60234071,14.0777435 6.49374391,14.0777435 L7.66049196,14.0777435 C7.77090452,14.7172852 8.32928467,15.2054901 9,15.2054901 C9.67071533,15.2054901 10.2290955,14.7172852 10.339508,14.0777435 L11.5062561,14.0777435 C12.3976593,14.0777435 13.1227569,14.8028412 13.1227569,15.6942444 L13.1227569,17.9474029 L13.6491394,17.9474029 L13.6491394,15.6942444 C13.6491394,14.5126648 12.6878357,13.5513611 11.5062561,13.5513611 L11.3889771,13.5513611 C11.5400391,13.0803223 11.9832001,12.741806 12.4985962,12.741806 L13.3335571,12.741806 C13.4431457,13.231659 13.8810883,13.5990143 14.4034882,13.5990143 C14.9258881,13.5990143 15.3638306,13.231659 15.4734192,12.741806 L16.3082428,12.741806 C16.950943,12.741806 17.4736176,13.2646179 17.4736176,13.9073181 L17.4736176,17.9474029 L18,17.9474029 L18,13.9073181 C18,12.9744415 17.2411194,12.2155609 16.3082428,12.2155609 Z M3.59651183,7.76568604 C4.36253358,7.76568604 4.98669434,8.38256836 4.99946593,9.14556885 C4.81723024,8.89233398 4.52362061,8.73934938 4.2063904,8.73934938 L2.98649598,8.73934938 C2.66940309,8.73934938 2.37579346,8.8924713 2.19355773,9.14556885 C2.20619201,8.38256836 2.83049012,7.76568604 3.59651183,7.76568604 Z M4.16670226,12.5024414 C4.16670226,12.816925 3.91085817,13.0726318 3.59651183,13.0726318 C3.28216553,13.0726318 3.0263214,12.816925 3.0263214,12.5024414 L3.0263214,12.0130005 C3.20663454,12.0687561 3.39807129,12.0989685 3.59651183,12.0989685 C3.79495238,12.0989685 3.98638916,12.0687561 4.16670226,12.0130005 L4.16670226,12.5024414 Z M3.59651183,11.5727234 C2.84394836,11.5727234 2.22802734,10.9772644 2.19465636,10.2328033 L2.58975218,9.50221252 C2.6685791,9.35623167 2.82060243,9.2655945 2.98649598,9.2655945 L4.2063904,9.2655945 C4.37228395,9.2655945 4.52444456,9.35623167 4.60327148,9.50221252 L4.9983673,10.2328033 C4.96499632,10.9772644 4.34907531,11.5727234 3.59651183,11.5727234 Z M7.07011414,9.45991515 C7.07011414,8.39575195 7.9358368,7.5300293 9,7.5300293 C10.0641632,7.5300293 10.9298859,8.39575195 10.9298859,9.45991515 L10.9298859,9.73594666 L10.860672,9.60823058 C10.6502838,9.21917725 10.2448883,8.97747803 9.80255127,8.97747803 L8.19744873,8.97747803 C7.7551117,8.97747803 7.3497162,9.21917725 7.13919066,9.60823058 L7.07011414,9.73594666 L7.07011414,9.45991515 Z M9.83331299,13.8457947 C9.83331299,14.3054352 9.45950316,14.679245 9,14.679245 C8.54049684,14.679245 8.16668701,14.3054352 8.16668701,13.8457947 L8.16668701,13.0860901 C8.42706299,13.1802979 8.70762635,13.2317963 9,13.2317963 C9.29237365,13.2317963 9.57293701,13.1802979 9.83331299,13.0860901 L9.83331299,13.8457947 Z M9,12.7055512 C7.95726014,12.7055512 7.10554504,11.8740234 7.07176209,10.839386 L7.60226442,9.85858154 C7.72050477,9.63967894 7.9486084,9.50372314 8.19744873,9.50372314 L9.80255127,9.50372314 C10.0513916,9.50372314 10.2794952,9.63981629 10.3977356,9.85858154 L10.9282379,10.839386 C10.894455,11.8740234 10.0427399,12.7055512 9,12.7055512 Z M14.4034882,7.76568604 C15.1695099,7.76568604 15.793808,8.38256836 15.8064423,9.14556885 C15.6242065,8.89233398 15.3305969,8.73934938 15.013504,8.73934938 L13.7936096,8.73934938 C13.4763794,8.73934938 13.1827698,8.8924713 13.0005341,9.14556885 C13.0133057,8.38256836 13.6374664,7.76568604 14.4034882,7.76568604 Z M14.9736786,12.5024414 C14.9736786,12.816925 14.7178345,13.0726318 14.4034882,13.0726318 C14.0891418,13.0726318 13.8332977,12.816925 13.8332977,12.5024414 L13.8332977,12.0130005 C14.0136108,12.0687561 14.2050476,12.0989685 14.4034882,12.0989685 C14.6019287,12.0989685 14.7933655,12.0687561 14.9736786,12.0130005 L14.9736786,12.5024414 Z M14.4034882,11.5727234 C13.6509247,11.5727234 13.0350037,10.9772644 13.0016327,10.2328033 L13.3967285,9.50221252 C13.4756928,9.35623167 13.627716,9.2655945 13.7936096,9.2655945 L15.013504,9.2655945 C15.1793976,9.2655945 15.3314209,9.35623167 15.4102478,9.50221252 L15.8053436,10.2328033 C15.7719727,10.9772644 15.1560516,11.5727234 14.4034882,11.5727234 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <polygon id="Path"
                                    points="16.4023132 14.5262604 16.9285584 14.5262604 16.9285584 17.9474029 16.4023132 17.9474029">
                                </polygon>
                                <polygon id="Path"
                                    points="1.07144163 14.5262604 1.59768675 14.5262604 1.59768675 17.9474029 1.07144163 17.9474029">
                                </polygon>
                                <path
                                    d="M2.40353395,5.75244141 L3.26005555,4.21051025 L4.77191162,4.21051025 L4.77191162,0 L0.03515625,0 L0.03515625,4.21051025 L1.546875,4.21051025 L2.40353395,5.75244141 Z M0.561401367,0.526382438 L4.2456665,0.526382438 L4.2456665,3.68426514 L2.95037842,3.68426514 L2.40353395,4.66864014 L1.85655213,3.68426514 L0.561401367,3.68426514 L0.561401367,0.526382438 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <path
                                    d="M13.2631073,0 L13.2631073,4.21051025 L14.7749634,4.21051025 L15.6316223,5.75244141 L16.4881439,4.21051025 L18,4.21051025 L18,0 L13.2631073,0 Z M17.4736176,3.68426514 L16.1784668,3.68426514 L15.6316223,4.66864014 L15.0846405,3.68426514 L13.7894897,3.68426514 L13.7894897,0.526382438 L17.4736176,0.526382438 L17.4736176,3.68426514 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <path
                                    d="M9.01757813,5.75244141 L9.87409972,4.21051025 L12.7718811,4.21051025 L12.7718811,0 L5.26313781,0 L5.26313781,4.21051025 L8.16091917,4.21051025 L9.01757813,5.75244141 Z M5.78952028,0.526382438 L12.245636,0.526382438 L12.245636,3.68426514 L9.56442263,3.68426514 L9.01757813,4.66864014 L8.4705963,3.68426514 L5.78952028,3.68426514 L5.78952028,0.526382438 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <polygon id="Path"
                                    points="2.22802734 1.40350342 3.63153076 1.40350342 3.63153076 1.92988586 2.22802734 1.92988586">
                                </polygon>
                                <polygon id="Path"
                                    points="1.17539979 1.40350342 1.70178223 1.40350342 1.70178223 1.92988586 1.17539979 1.92988586">
                                </polygon>
                                <polygon id="Path"
                                    points="1.17539979 2.45613097 2.57890321 2.45613097 2.57890321 2.98251345 1.17539979 2.98251345">
                                </polygon>
                                <polygon id="Path"
                                    points="3.10528564 2.45613097 3.63153076 2.45613097 3.63153076 2.98251345 3.10528564 2.98251345">
                                </polygon>
                                <polygon id="Path"
                                    points="15.4561157 1.40350342 16.8596191 1.40350342 16.8596191 1.92988586 15.4561157 1.92988586">
                                </polygon>
                                <polygon id="Path"
                                    points="14.4034882 1.40350342 14.9298706 1.40350342 14.9298706 1.92988586 14.4034882 1.92988586">
                                </polygon>
                                <polygon id="Path"
                                    points="14.4034882 2.45613097 15.8069916 2.45613097 15.8069916 2.98251345 14.4034882 2.98251345">
                                </polygon>
                                <polygon id="Path"
                                    points="16.333374 2.45613097 16.8596191 2.45613097 16.8596191 2.98251345 16.333374 2.98251345">
                                </polygon>
                                <polygon id="Path"
                                    points="9.54382324 1.22813416 10.0702057 1.22813416 10.0702057 1.75437928 9.54382324 1.75437928">
                                </polygon>
                                <polygon id="Path"
                                    points="10.5964508 1.22813416 11.4737091 1.22813416 11.4737091 1.75437928 10.5964508 1.75437928">
                                </polygon>
                                <polygon id="Path"
                                    points="6.56144715 1.22813416 9.01757812 1.22813416 9.01757812 1.75437928 6.56144715 1.75437928">
                                </polygon>
                                <polygon id="Path"
                                    points="10.9473267 2.31578065 11.4737091 2.31578065 11.4737091 2.84216309 10.9473267 2.84216309">
                                </polygon>
                                <polygon id="Path"
                                    points="6.56144715 2.31578065 7.96495057 2.31578065 7.96495057 2.84216309 6.56144715 2.84216309">
                                </polygon>
                                <polygon id="Path"
                                    points="8.49119569 2.31578065 10.4210815 2.31578065 10.4210815 2.84216309 8.49119569 2.84216309">
                                </polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.conferences' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/suggestion" routerLinkActive="active">
            <svg class="icon-side" width="16px" height="17px" viewBox="0 0 16 17" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                <g id="Page-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="News" transform="translate(-60.000000, -433.000000)" fill="#FFFFFF">
                        <g id="Group-8" transform="translate(60.000000, 428.000000)">
                            <g id="invitation" transform="translate(0.000000, 5.000000)">
                                <path
                                    d="M10.7771414,2.75710227 L4.22285857,2.75710227 C4.0997648,2.75710227 4,2.86583779 4,3 C4,3.13416221 4.09979452,3.24289773 4.22285857,3.24289773 L10.7771414,3.24289773 C10.9002352,3.24289773 11,3.13416221 11,3 C11,2.86583779 10.9002352,2.75710227 10.7771414,2.75710227 Z"
                                    id="Path"></path>
                                <path
                                    d="M10.7771414,4.75710227 L4.22285857,4.75710227 C4.0997648,4.75710227 4,4.86583779 4,5 C4,5.13416221 4.09979452,5.24289773 4.22285857,5.24289773 L10.7771414,5.24289773 C10.9002352,5.24289773 11,5.13416221 11,5 C11,4.86583779 10.9002352,4.75710227 10.7771414,4.75710227 Z"
                                    id="Path"></path>
                                <path
                                    d="M7.74686022,5.75710227 L4.25317353,5.75710227 C4.11333558,5.75710227 4,5.86583779 4,6 C4,6.1341946 4.11336934,6.24289773 4.25317353,6.24289773 L7.74682646,6.24289773 C7.88663065,6.24289773 7.99999999,6.13416221 7.99999999,6 C8.00003375,5.8658054 7.88666441,5.75710227 7.74686022,5.75710227 Z"
                                    id="Path"></path>
                                <path
                                    d="M15.403401,4.87460303 L14.0242656,3.90354064 L14.0242656,3.53747476 C14.0242656,2.64872324 13.3250495,1.92565596 12.4656143,1.92565596 L11.2151357,1.92565596 L8.88184653,0.28289173 C8.34615647,-0.0942972433 7.65387564,-0.0942972433 7.11815347,0.28289173 L4.7869192,1.92426142 L4.78785033,1.92568916 L3.53438567,1.92568916 C2.67495053,1.92568916 1.97573437,2.64875644 1.97573437,3.53750796 L1.97573437,3.90354064 L0.596598959,4.87456982 C0.223022247,5.1375728 0,5.57366435 0,6.04103336 L0,15.9421111 C0,16.2868937 0.134436244,17 1.02299335,17 L14.9770067,17 C15.5411123,17 16,16.5254259 16,15.9421111 L16,6.04103336 C16.0000321,5.57366435 15.7769456,5.13760601 15.403401,4.87460303 Z M7.38917719,0.694479275 C7.76028159,0.433302474 8.23981474,0.433302474 8.61082281,0.694479275 L10.3595214,1.92568916 L5.64054279,1.92568916 L7.38917719,0.694479275 Z M2.45732243,3.53754116 C2.45732243,2.92334736 2.94048379,2.42370478 3.53438567,2.42370478 L12.4655822,2.42370478 C13.0594841,2.42370478 13.5426455,2.92334736 13.5426455,3.53750796 L13.5426455,5.42179266 C13.5426455,5.55935375 13.6504642,5.67078387 13.7834234,5.67078387 C13.9163827,5.67078387 14.0242014,5.55932054 14.0242014,5.42179266 L14.0242014,4.5060469 C14.0242014,4.5060469 15.213739,5.34944277 15.2498284,5.38556791 L9.28188025,9.12080125 C8.49122047,9.61450045 7.50881164,9.61456685 6.71937197,9.12156493 L2.45732243,6.42336884 L2.45732243,3.53754116 Z M1.97576648,4.50598049 L1.97576648,6.11843015 L0.777013875,5.35956976 C0.805493681,5.3333724 1.97576648,4.50598049 1.97576648,4.50598049 Z M0.994288787,16.5005566 L1.84820135,15.4865957 C1.93553514,15.3828687 1.92506793,15.2256181 1.8247625,15.135272 C1.72448918,15.0449592 1.57239353,15.0558498 1.48502763,15.1595104 L0.569339257,16.2467842 C0.514017154,16.1589948 0.481523846,16.0544709 0.481523846,15.9420779 L0.481523846,6.04103336 C0.481523846,5.95138458 0.494495483,5.86362837 0.518640707,5.77992297 L6.30129355,9.44078102 L2.20604514,14.3034309 C2.11871134,14.4071578 2.12917856,14.5644085 2.22948398,14.6547545 C2.27510947,14.6958269 2.43243872,14.7631299 2.56921885,14.6305161 L6.72881172,9.69146559 C7.13147829,9.88992145 7.56564282,9.98929879 7.99996789,9.98929879 C8.43971922,9.98929879 8.87947054,9.88716557 9.28647169,9.68366283 L15.0131282,16.5001914 C15.0011198,16.5009883 1.00385697,16.5010879 0.994288787,16.5005566 Z M15.518444,15.9421111 C15.518444,16.0522795 15.4870745,16.1547779 15.4337431,16.2415048 L9.71354035,9.43271263 L15.4913128,5.81651296 C15.5091006,5.88909527 15.5184762,5.96436705 15.5184762,6.04103336 L15.5184762,15.9421111 L15.518444,15.9421111 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2> {{ 'home.label.suggestion' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/chat" routerLinkActive="active">
            <svg class="icon-side" width="18px" height="17px" viewBox="0 0 18 17" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-56.000000, -474.000000)" fill="#FFFFFF">
                        <g id="Group-8" transform="translate(56.000000, 466.000000)">
                            <g id="chat" transform="translate(0.000000, 8.000000)">
                                <path
                                    d="M3,7.0395 L6.9,7.0395 C7.0659,7.0395 7.2,6.9051 7.2,6.7395 C7.2,6.5739 7.0659,6.4395 6.9,6.4395 L3,6.4395 C2.8341,6.4395 2.7,6.5739 2.7,6.7395 C2.7,6.9051 2.8341,7.0395 3,7.0395 Z"
                                    id="Path"></path>
                                <path
                                    d="M10.8,8.2395 L3,8.2395 C2.8341,8.2395 2.7,8.3739 2.7,8.5395 C2.7,8.7051 2.8341,8.8395 3,8.8395 L10.8,8.8395 C10.9659,8.8395 11.1,8.7051 11.1,8.5395 C11.1,8.3739 10.9659,8.2395 10.8,8.2395 Z"
                                    id="Path"></path>
                                <path
                                    d="M10.8,10.0395 L3,10.0395 C2.8341,10.0395 2.7,10.1739 2.7,10.3395 C2.7,10.5051 2.8341,10.6395 3,10.6395 L10.8,10.6395 C10.9659,10.6395 11.1,10.5051 11.1,10.3395 C11.1,10.1739 10.9659,10.0395 10.8,10.0395 Z"
                                    id="Path"></path>
                                <path
                                    d="M16.2216,0.1605 L5.979,0.1395 C4.998,0.1395 4.2,0.9375 4.2,1.9185 L4.2,3.4557 L1.779,3.4608 C0.798,3.4608 0,4.2588 0,5.2398 L0,11.5821 C0,12.5631 0.798,13.3608 1.779,13.3608 L3.6,13.3608 L3.6,16.3608 C3.6,16.4847 3.6762,16.596 3.792,16.6407 C3.8271,16.6542 3.8637,16.6608 3.9,16.6608 C3.9828,16.6608 4.0641,16.6263 4.122,16.5627 L7.0332,13.3602 L12.021,13.3398 C13.002,13.3398 13.8,12.5418 13.8,11.5611 L13.8,11.5272 L15.378,13.263 C15.4359,13.3266 15.5172,13.3611 15.6,13.3611 C15.6363,13.3611 15.6729,13.3545 15.708,13.341 C15.8238,13.2963 15.9,13.185 15.9,13.0611 L15.9,10.0611 L16.221,10.0611 C17.202,10.0611 18,9.2631 18,8.2824 L18,1.9395 C18,0.9588 17.2023,0.1608 16.2216,0.1605 Z M13.2,11.5608 C13.2,12.2109 12.6711,12.7395 12.0198,12.7395 L6.8988,12.7605 C6.8148,12.7608 6.7344,12.7965 6.678,12.8586 L4.2,15.5847 L4.2,13.0605 C4.2,12.8949 4.0659,12.7605 3.9,12.7605 L1.779,12.7605 C1.1289,12.7605 0.6,12.2316 0.6,11.5818 L0.6,5.2395 C0.6,4.5894 1.1289,4.0605 1.7796,4.0605 L4.5,4.0548 C4.5,4.0548 4.5,4.0548 4.5,4.0548 C4.5003,4.0548 4.5003,4.0548 4.5006,4.0548 L12.021,4.0392 C12.6711,4.0392 13.2,4.5681 13.2,5.2182 L13.2,10.7505 L13.2,11.5608 Z M17.4,8.2818 C17.4,8.9319 16.8711,9.4605 16.221,9.4605 L15.6,9.4605 C15.4341,9.4605 15.3,9.5949 15.3,9.7605 L15.3,12.2847 L13.8,10.6347 L13.8,5.2185 C13.8,4.2375 13.002,3.4395 12.0204,3.4395 L4.8,3.4542 L4.8,1.9182 C4.8,1.2681 5.3289,0.7392 5.9784,0.7392 L16.2207,0.7602 C16.221,0.7602 16.221,0.7602 16.2213,0.7602 C16.8714,0.7602 17.4003,1.2891 17.4003,1.9392 L17.4003,8.2818 L17.4,8.2818 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.chat' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/reports" routerLinkActive="active">
            <svg class="icon-side" width="18px" height="18px" viewBox="0 0 18 18" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-58.000000, -505.000000)" fill="#FFFFFF">
                        <g id="folder" transform="translate(58.000000, 505.000000)">
                            <path
                                d="M17.247,8.1 L16.2,8.1 L16.2,6.2196 C16.2,5.7678 15.8322,5.4 15.3804,5.4 L14.4,5.4 L14.4,4.6758 L14.2515,4.5273 C14.2512,4.5273 14.2512,4.527 14.2512,4.5267 L12.0624,2.3379 L9.7242,0 L2.4,0 L2.4,3.3 L0.8196,3.3 C0.3678,3.3 0,3.6678 0,4.1196 L0,17.2257 L0.0018,17.2257 C0.0003,17.3946 0.0528,17.5599 0.1584,17.6982 C0.3054,17.8902 0.528,18 0.7695,18 L14.1972,18 C14.544,18 14.8494,17.7663 14.9322,17.4561 L18,9.0447 L18,8.9916 C18,8.475 17.6832,8.1 17.247,8.1 Z M15.3804,6 C15.5013,6 15.6,6.0984 15.6,6.2196 L15.6,8.1 L14.4,8.1 L14.4,6 L15.3804,6 Z M9.9,1.0245 L13.3758,4.5 L9.9,4.5 L9.9,1.0245 Z M3,0.6 L9.3,0.6 L9.3,5.1 L13.8,5.1 L13.8,5.4 L13.8,8.1 L3.8193,8.1 C3.7764,8.1 3.7341,8.1036 3.6927,8.1105 C3.4005,8.1591 3.1569,8.3721 3.0843,8.6439 L3,8.8755 L3,3.3 L3,0.6 Z M0.6,4.1196 C0.6,3.9984 0.6987,3.9 0.8196,3.9 L2.4,3.9 L2.4,10.5105 L0.6,15.4197 L0.6,4.1196 Z M14.3607,17.2749 C14.3409,17.3484 14.2737,17.4 14.1972,17.4 L0.7695,17.4 C0.6966,17.4 0.654,17.3583 0.6351,17.3334 C0.6162,17.3088 0.5871,17.2566 0.5982,17.211 L2.4,12.2694 L2.4,12.2709 L3.648,8.8497 L3.6558,8.8251 C3.6756,8.7516 3.7431,8.7 3.8193,8.7 L13.8,8.7 L14.4,8.7 L16.2,8.7 L17.247,8.7 C17.361,8.7 17.3901,8.8638 17.3976,8.9457 L14.3607,17.2749 Z"
                                id="Shape" fill-rule="nonzero"></path>
                            <path
                                d="M4.8,5.1 L7.8,5.1 C7.9656,5.1 8.1,4.9659 8.1,4.8 C8.1,4.6341 7.9656,4.5 7.8,4.5 L4.8,4.5 C4.6344,4.5 4.5,4.6341 4.5,4.8 C4.5,4.9659 4.6344,5.1 4.8,5.1 Z"
                                id="Path"></path>
                            <path
                                d="M4.8,3 L7.8,3 C7.9656,3 8.1,2.8659 8.1,2.7 C8.1,2.5341 7.9656,2.4 7.8,2.4 L4.8,2.4 C4.6344,2.4 4.5,2.5341 4.5,2.7 C4.5,2.8659 4.6344,3 4.8,3 Z"
                                id="Path"></path>
                            <path
                                d="M4.8,7.2 L12,7.2 C12.1656,7.2 12.3,7.0659 12.3,6.9 C12.3,6.7341 12.1656,6.6 12,6.6 L4.8,6.6 C4.6344,6.6 4.5,6.7341 4.5,6.9 C4.5,7.0659 4.6344,7.2 4.8,7.2 Z"
                                id="Path"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.report' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/about-us" routerLinkActive="active">
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">

                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-60.000000, -546.000000)" fill="#DEDCDC">
                        <g id="Group-8" transform="translate(60.000000, 540.000000)">
                            <g id="file" transform="translate(0.000000, 6.000000)">
                                <path
                                    d="M15.998953,3.23841258 C15.997536,3.14228739 15.9479421,3.0480997 15.8537137,2.97741207 L12.0293566,0.109718964 C12.0291899,0.109593964 12.0290649,0.109562714 12.0288982,0.109468964 C11.9385872,0.0418125817 11.8138106,0 11.6760729,0 L1.0518076,0 C0.471808933,0 0,0.353750691 0,0.78865779 L0,15.2113422 C0,15.6462181 0.471767258,16 1.05176593,16 L14.9482289,16 C15.5281859,16 15.9999949,15.6462493 15.9999949,15.2113422 L15.9999949,3.24228758 C16.0000782,3.24091258 15.9991197,3.23975633 15.998953,3.23841258 Z M12.1756794,1.27909625 L14.2942145,2.86766185 L12.228274,2.86766185 C12.1993095,2.86766185 12.1756794,2.84994307 12.1756794,2.82822427 L12.1756794,1.27909625 Z M15.0008235,15.2113735 C15.0008235,15.2330923 14.9772351,15.2507798 14.9482706,15.2507798 L1.0518076,15.2507798 C1.02284309,15.2507798 0.999254729,15.2330923 0.999254729,15.2113735 L0.999254729,0.78865779 C0.999254729,0.766938998 1.02284309,0.749251463 1.0518076,0.749251463 L11.1764664,0.749251463 L11.1764664,2.82822427 C11.1764664,3.26310012 11.648317,3.61694456 12.2283157,3.61694456 L15.0008652,3.61694456 L15.0008652,15.2113735 L15.0008235,15.2113735 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <path
                                    d="M12.492401,5 L3.5076413,5 C3.22731219,5 3,5.22384885 3,5.5 C3,5.77610944 3.22731219,6 3.5076413,6 L12.4923587,6 C12.7726878,6 13,5.77610944 13,5.5 C13.0000423,5.22384885 12.7726878,5 12.492401,5 Z"
                                    id="Path"></path>
                                <path
                                    d="M12.492401,7 L3.5076413,7 C3.22731219,7 3,7.22389056 3,7.5 C3,7.77610944 3.22731219,8 3.5076413,8 L12.4923587,8 C12.7726878,8 13,7.77610944 13,7.5 C13.0000423,7.22389056 12.7726878,7 12.492401,7 Z"
                                    id="Path"></path>
                                <path
                                    d="M12.492401,10 L3.5076413,10 C3.22731219,10 3,10.2238906 3,10.5 C3,10.7761512 3.22731219,11 3.5076413,11 L12.4923587,11 C12.7726878,11 13,10.7761512 13,10.5 C13.0000423,10.2239323 12.7726878,10 12.492401,10 Z"
                                    id="Path"></path>
                                <path
                                    d="M7.53914996,12 L3.46085004,12 C3.20635995,12 3,12.2238906 3,12.5 C3,12.7761512 3.20635995,13 3.46085004,13 L7.53914996,13 C7.79364005,13 8,12.7761512 8,12.5 C8,12.2238488 7.79364005,12 7.53914996,12 Z"
                                    id="Path"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.about-us' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/corporates" routerLinkActive="active">
            <svg class="icon-side" width="18px" height="18px" viewBox="0 0 18 18" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="News" transform="translate(-58.000000, -584.000000)" fill="#FFFFFF">
                        <g id="Group-8" transform="translate(58.000000, 578.000000)">
                            <g id="news" transform="translate(0.000000, 6.000000)">
                                <path
                                    d="M17.625,0.1125 L3.0288,0.1125 C2.88382525,0.1125 2.7663,0.230025253 2.7663,0.375 L2.7663,2.7663 L0.375,2.7663 C0.230025253,2.7663 0.1125,2.88382525 0.1125,3.0288 L0.1125,16.2981 C0.113161786,17.1759585 0.824641515,17.8874382 1.7025,17.8881 L16.2987,17.8881 C17.1765927,17.8875208 17.8881208,17.1759927 17.8887,16.2981 L17.8887,0.375 C17.8887007,0.305172258 17.8608799,0.238221854 17.8113918,0.188958914 C17.7619036,0.139695974 17.694827,0.112180787 17.625,0.1125 Z M1.7019,17.3625 C1.11371674,17.3625 0.6369,16.8856833 0.6369,16.2975 L0.6369,3.2913 L14.7081,3.2913 L14.7081,16.2981 C14.7075979,16.6917198 14.8537518,17.0714097 15.11805,17.3631 L1.7019,17.3625 Z M17.3619,16.2975 C17.3426261,16.8714462 16.8717697,17.3267559 16.2975,17.3267559 C15.7232303,17.3267559 15.2523739,16.8714462 15.2331,16.2975 L15.2331,3.0288 C15.2331,2.88382525 15.1155747,2.7663 14.9706,2.7663 L3.2913,2.7663 L3.2913,0.6375 L17.3625,0.6375 L17.3619,16.2975 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <polygon id="Path"
                                    points="2.3064 5.6865 3.46455 7.10865 3.7854 7.10865 3.7854 5.00865 3.39855 5.00865 3.39855 6.43065 2.24055 5.00865 1.9194 5.00865 1.9194 7.10865 2.3064 7.10865">
                                </polygon>
                                <polygon id="Path"
                                    points="6.07455 6.78165 4.88955 6.78165 4.88955 6.20265 5.90355 6.20265 5.90355 5.88165 4.88955 5.88165 4.88955 5.3355 6.03255 5.3355 6.03255 5.00865 4.49955 5.00865 4.49955 7.10865 6.07455 7.10865">
                                </polygon>
                                <polygon id="Path"
                                    points="7.54155 7.10865 8.06955 5.5545 8.58855 7.10865 9.00255 7.10865 9.69855 5.00865 9.3267 5.00865 8.78955 6.61365 8.25855 5.00865 7.89855 5.00865 7.35555 6.6045 6.83355 5.00865 6.42855 5.00865 7.12455 7.10865">
                                </polygon>
                                <path
                                    d="M11.16705,6.73965 C11.0598247,6.79675607 10.9387648,6.82273459 10.81755,6.81465 C10.6893361,6.81424048 10.562089,6.79244117 10.44105,6.75015 C10.3269304,6.71286006 10.2199264,6.65656883 10.12455,6.58365 L9.98955,6.88665 C10.0950224,6.97195222 10.2171198,7.0343292 10.34805,7.0698 C10.5002573,7.11597797 10.6584926,7.13923299 10.81755,7.1388 C10.9776729,7.1431788 11.136982,7.11453381 11.28555,7.05465 C11.4007674,7.00887888 11.500272,6.93073392 11.57205,6.82965 C11.6347711,6.73666562 11.6677295,6.62680456 11.66655,6.51465 C11.6728301,6.39713012 11.6348302,6.28152506 11.56005,6.19065 C11.4901299,6.11144536 11.4021437,6.05026664 11.30355,6.0123 C11.1783864,5.96572142 11.050061,5.92812611 10.91955,5.8998 C10.80545,5.8718 10.71545,5.8468 10.64955,5.8248 C10.5895586,5.80608532 10.5339524,5.77547638 10.48605,5.7348 C10.443554,5.69804508 10.4198646,5.64411042 10.42155,5.58795 C10.4202732,5.50402494 10.4629331,5.42553064 10.53405,5.38095 C10.6383214,5.32155336 10.7578451,5.2943604 10.87755,5.3028 C10.9759629,5.30345481 11.0738224,5.31758614 11.1684,5.3448 C11.2693351,5.37318308 11.3661851,5.41447413 11.45655,5.46765 L11.5794,5.16465 C11.4809337,5.10090345 11.3724071,5.05424715 11.2584,5.02665 C11.1348824,4.99474721 11.0078211,4.97861884 10.88025,4.97865 C10.7206547,4.9741662 10.561863,5.00281918 10.4139,5.0628 C10.2989701,5.10910716 10.1999609,5.18779341 10.1289,5.2893 C10.0663348,5.38291799 10.0334056,5.4932045 10.0344,5.6058 C10.0279549,5.72466967 10.0659114,5.84169328 10.1409,5.93415 C10.2099292,6.01371297 10.2975154,6.07502335 10.3959,6.11265 C10.5228221,6.15893948 10.65259,6.19701807 10.7844,6.22665 C10.8984,6.25465 10.9884,6.27965 11.0544,6.30165 C11.1147162,6.32034071 11.1704235,6.35151635 11.2179,6.39315 C11.2603228,6.43060997 11.2839924,6.48492386 11.28255,6.5415 C11.282681,6.62356741 11.2385248,6.69932102 11.16705,6.73965 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,8.769 L2.025,8.769 C1.88002525,8.769 1.7625,8.88652525 1.7625,9.0315 C1.7625,9.17647475 1.88002525,9.294 2.025,9.294 L13.3212,9.294 C13.4661747,9.294 13.5837,9.17647475 13.5837,9.0315 C13.5837,8.88652525 13.4661747,8.769 13.3212,8.769 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,10.935 L2.025,10.935 C1.88002525,10.935 1.7625,11.0525253 1.7625,11.1975 C1.7625,11.3424747 1.88002525,11.46 2.025,11.46 L13.3212,11.46 C13.4661747,11.46 13.5837,11.3424747 13.5837,11.1975 C13.5837,11.0525253 13.4661747,10.935 13.3212,10.935 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,15.2691 L2.025,15.2691 C1.88002525,15.2691 1.7625,15.3866253 1.7625,15.5316 C1.7625,15.6765747 1.88002525,15.7941 2.025,15.7941 L13.3212,15.7941 C13.4661747,15.7941 13.5837,15.6765747 13.5837,15.5316 C13.5837,15.3866253 13.4661747,15.2691 13.3212,15.2691 Z"
                                    id="Path"></path>
                                <path
                                    d="M13.3212,13.1025 L2.025,13.1025 C1.88002525,13.1025 1.7625,13.2200253 1.7625,13.365 C1.7625,13.5099747 1.88002525,13.6275 2.025,13.6275 L13.3212,13.6275 C13.4661747,13.6275 13.5837,13.5099747 13.5837,13.365 C13.5837,13.2200253 13.4661747,13.1025 13.3212,13.1025 Z"
                                    id="Path"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.corporates' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/ads" routerLinkActive="active">
            <svg class="icon-side" width="18px" height="15px" viewBox="0 0 18 15" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-57.000000, -625.000000)" fill="#FFFFFF">
                        <g id="Group-17" transform="translate(57.000000, 616.000000)">
                            <g id="picture-(1)" transform="translate(0.000000, 9.000000)">
                                <path
                                    d="M17.6896552,0 L0.310344828,0 C0.139034483,0 0,0.138724138 0,0.310344828 L0,13.9655172 C0,14.1371379 0.139034483,14.2758621 0.310344828,14.2758621 L17.6896552,14.2758621 C17.8609655,14.2758621 18,14.1371379 18,13.9655172 L18,0.310344828 C18,0.138724138 17.8609655,0 17.6896552,0 Z M17.3793103,13.6551724 L0.620689655,13.6551724 L0.620689655,0.620689655 L17.3793103,0.620689655 L17.3793103,13.6551724 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <path
                                    d="M4.96551724,6.87041379 C5.91858621,6.87041379 6.69382759,6.09517241 6.69382759,5.14241379 C6.69382759,4.18903448 5.91858621,3.4137931 4.96551724,3.4137931 C4.01244828,3.4137931 3.2372069,4.18903448 3.2372069,5.14210345 C3.2372069,6.09517241 4.01244828,6.87041379 4.96551724,6.87041379 Z M4.96551724,4.03448276 C5.57627586,4.03448276 6.07313793,4.53165517 6.07313793,5.14210345 C6.07313793,5.75255172 5.57627586,6.24972414 4.96551724,6.24972414 C4.35475862,6.24972414 3.85789655,5.75286207 3.85789655,5.14241379 C3.85789655,4.53196552 4.35475862,4.03448276 4.96551724,4.03448276 Z"
                                    id="Shape" fill-rule="nonzero"></path>
                                <path
                                    d="M2.17241379,12.4137931 C2.24503448,12.4137931 2.31827586,12.3883448 2.37724138,12.3365172 L7.43989655,7.87934483 L10.637069,11.0762069 C10.7584138,11.1975517 10.9545517,11.1975517 11.0758966,11.0762069 C11.1972414,10.9548621 11.1972414,10.7587241 11.0758966,10.6373793 L9.58406897,9.14555172 L12.4333448,6.02534483 L15.9281379,9.22903448 C16.0544483,9.3447931 16.2508966,9.33610345 16.3666552,9.2097931 C16.4824138,9.08348276 16.4740345,8.88703448 16.3474138,8.77127586 L12.6232759,5.35748276 C12.5624483,5.30193103 12.4814483,5.27431034 12.3998276,5.27617241 C12.3175862,5.27989655 12.24,5.3162069 12.1844483,5.37703448 L9.14493103,8.70610345 L7.67296552,7.23413793 C7.55689655,7.11837931 7.37131034,7.11248276 7.24841379,7.22048276 L1.96727586,11.8703793 C1.83848276,11.9836552 1.82606897,12.1797931 1.93934483,12.3085862 C2.0007931,12.3784138 2.08644828,12.4137931 2.17241379,12.4137931 Z"
                                    id="Path"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.ads' | translate }}</h2>
        </li>
        <li routerLink="/{{lang}}/member" routerLinkActive="active">
            <svg class="icon-side" width="20px" height="13px" viewBox="0 0 20 13" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="web-admin-English" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Home-Page" transform="translate(-57.000000, -660.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <g id="Group-17" transform="translate(57.000000, 652.000000)">
                            <g id="Group-8">
                                <g id="group" transform="translate(0.000000, 8.000000)">
                                    <path
                                        d="M14.053433,6.76024406 L12.2978247,6.05078305 C12.1737938,6.0006776 12.0937114,5.88856298 12.0937114,5.76520393 L12.0937114,5.32685446 C12.6834527,4.8996029 13.0625145,4.2416758 13.0625145,3.50437843 L13.0625145,2.88732682 C13.2567989,2.78971642 13.3854221,2.60108843 13.3854221,2.38982508 L13.3854221,2.32994027 C13.3854221,1.04521883 12.2358697,0 10.8229075,0 L10.1770925,0 C8.76413034,0 7.61457792,1.04521883 7.61457792,2.32994027 L7.61457792,2.87329876 C7.61457792,3.05899661 7.70247516,3.22722348 7.85567093,3.33486962 C7.88165339,3.35310977 7.90900546,3.3691523 7.93748545,3.38303386 L7.93748545,3.5043418 C7.93748545,4.24163917 8.31650703,4.89956628 8.90620804,5.32678121 L8.90620804,5.76516731 C8.90620804,5.88852635 8.8260854,6.00064097 8.70209471,6.05074642 L6.94648644,6.76020743 C6.37152896,6.99253119 6,7.51233865 6,8.08441255 L6,11.7252624 C6,11.8769706 6.1352699,11.9999634 6.30212156,11.9999634 C6.46897323,11.9999634 6.60424313,11.8769706 6.60424313,11.7252624 L6.60424313,8.08444918 C6.60424313,8.05262049 6.60674067,8.02115808 6.61036613,7.98995205 L7.41932683,8.72549133 C7.54521081,8.83998669 7.61457792,8.99217102 7.61457792,9.15409808 L7.61457792,11.725299 C7.61457792,11.8770072 7.74984782,12 7.91669949,12 C8.08355116,12 8.21882105,11.8770072 8.21882105,11.725299 L8.21882105,9.15409808 C8.21882105,8.84544408 8.08665294,8.55528662 7.84660729,8.33702755 L6.88219497,7.46010884 C6.96908513,7.37813808 7.07333721,7.31019537 7.19193,7.2622509 L8.91793036,6.56476686 L10.1979187,7.72858325 L10.1979187,11.7252624 C10.1979187,11.8769706 10.3331886,11.9999634 10.5000403,11.9999634 C10.666892,11.9999634 10.8021618,11.8769706 10.8021618,11.7252624 L10.8021618,7.72861987 L12.0821502,6.56480348 L13.8081103,7.2622509 C13.9267031,7.31019537 14.0309552,7.37813808 14.1178453,7.46014547 L13.153433,8.33702755 C12.9133873,8.55528662 12.7812192,8.84544408 12.7812192,9.15409808 L12.7812192,11.725299 C12.7812192,11.8770072 12.9164891,12 13.0833408,12 C13.2501925,12 13.3854624,11.8770072 13.3854624,11.725299 L13.3854624,9.15409808 C13.3854624,8.99220765 13.4547892,8.83998669 13.5807135,8.72549133 L14.3896339,7.98998868 C14.3932593,8.0211947 14.3957569,8.05258387 14.3957569,8.08441255 L14.3957569,11.7252624 C14.3957569,11.8769706 14.5310268,11.9999634 14.6978784,11.9999634 C14.8647301,11.9999634 15,11.8769706 15,11.7252624 L15,8.08444918 C14.9998792,7.51237528 14.6283905,6.99256781 14.053433,6.76024406 Z M10.4999194,7.22635664 L9.37679259,6.20512836 C9.46219228,6.07448059 9.51041089,5.92332181 9.51041089,5.76520393 L9.51041089,5.65341896 C9.81507027,5.76981891 10.1493779,5.8343187 10.4999597,5.8343187 C10.8505416,5.8343187 11.1848089,5.76985554 11.489428,5.65345559 L11.489428,5.76520393 C11.489428,5.92335843 11.5376466,6.07448059 11.6230866,6.20516499 L10.4999194,7.22635664 Z M10.4999597,5.28488015 C9.42017724,5.28491678 8.5416883,4.48615965 8.5416883,3.50437843 L8.5416883,3.38083625 C8.73021216,3.31289355 8.91422433,3.20477125 9.09038134,3.05698214 C9.21296213,2.95409747 9.22065616,2.78030333 9.10746128,2.66881137 C8.99430669,2.55735603 8.80320473,2.55036032 8.68054337,2.65324498 C8.52944231,2.78008357 8.37846209,2.86201771 8.23191299,2.89681316 C8.2283681,2.89765558 8.22574971,2.89802185 8.2238967,2.89816836 C8.22172142,2.89432254 8.21878077,2.88626465 8.21878077,2.87333539 L8.21878077,2.32997689 C8.21878077,1.34819567 9.09726972,0.549438542 10.1770522,0.549438542 L10.8228672,0.549438542 C11.90269,0.549438542 12.7811387,1.34819567 12.7811387,2.32997689 L12.7811387,2.3898617 C12.7811387,2.39876201 12.7752574,2.40649027 12.7675231,2.40788209 C10.9583788,2.73276175 10.0509668,2.12047163 9.74481694,1.84210799 C9.62682839,1.73482811 9.43552502,1.73482811 9.31757676,1.84210799 C9.19958822,1.94938787 9.19958822,2.12332852 9.31757676,2.23057177 C10.2557649,3.08360981 11.6247784,3.09899307 12.4582311,3.00793886 L12.4582311,3.5043418 C12.4582311,4.48612302 11.5797422,5.28488015 10.4999597,5.28488015 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M5,5.96680925 L5,5.35340289 C5,4.60492088 4.62408128,3.94603026 4.05765221,3.56685446 C4.09262655,3.45075291 4.11089011,3.32914276 4.11089011,3.20684403 C4.11089011,2.54137367 3.58767986,2 2.94453646,2 C2.30139306,2 1.77818281,2.54141193 1.77818281,3.20684403 C1.77818281,3.33067293 1.79629849,3.4510972 1.83134677,3.56693097 C1.26495467,3.94606851 0.889072921,4.60495914 0.889072921,5.35340289 L0.889072921,5.96669449 C0.889072921,6.69149713 1.24151521,7.33240828 1.77814584,7.71655712 L1.77814584,8.34748392 C1.77814584,8.47192488 1.71133967,8.58378021 1.60379172,8.6394401 L0.644733145,9.13559729 C0.247038642,9.34140497 0,9.75500956 0,10.215093 L0,12.7130551 C0,12.8715041 0.124147824,12.9999617 0.277280726,12.9999617 C0.430413629,12.9999617 0.554561453,12.8715041 0.554561453,12.7130551 L0.554561453,10.3391897 L1.00627024,10.8065797 C1.12180388,10.9261624 1.18546753,11.0851087 1.18546753,11.2542306 L1.18546753,12.7130551 C1.18546753,12.8715041 1.30961536,12.9999617 1.46274826,12.9999617 C1.61588116,12.9999617 1.74002899,12.8715041 1.74002899,12.7130551 L1.74002899,11.2542306 C1.74002899,10.9318623 1.61869094,10.6288124 1.39841913,10.4008555 L0.769731296,9.75034255 C0.766699694,9.7472057 0.763446267,9.74448965 0.760340723,9.74154408 C0.799788527,9.70550861 0.844042531,9.67414015 0.892769997,9.64889237 L1.85182857,9.15273518 C1.90096272,9.12729612 1.94669555,9.09726656 1.98932284,9.06390889 L2.66725573,9.76541471 L2.66725573,12.7130934 C2.66725573,12.8715423 2.79140356,13 2.94453646,13 C3.09766936,13 3.22181719,12.8715423 3.22181719,12.7130934 L3.22181719,9.76537646 L3.89978705,9.06387063 C3.94245131,9.09726656 3.98814717,9.12729612 4.03728132,9.15269692 L4.30173319,9.28953226 C4.3415507,9.31015128 4.38384526,9.3199061 4.42554828,9.3199061 C4.52725485,9.3199061 4.6251904,9.26175969 4.67376998,9.16126587 C4.74227681,9.01953399 4.68674672,8.84719875 4.54977004,8.77635194 L4.28531817,8.63951661 C4.17773325,8.58385672 4.11092708,8.47200139 4.11092708,8.34759868 L4.11092708,7.71667188 C4.64755771,7.33252304 5,6.69157364 5,5.96680925 Z M2.94453646,2.57381325 C3.28189468,2.57381325 3.55632866,2.85781255 3.55632866,3.20684403 C3.55632866,3.24528951 3.55300129,3.28296992 3.54664232,3.31988524 C3.356095,3.25936707 3.15397584,3.2265832 2.94453646,3.2265832 C2.73539285,3.2265832 2.53353248,3.2592523 2.34328093,3.31961746 C2.33688499,3.28270214 2.33274427,3.24521301 2.33274427,3.20684403 C2.33274427,2.8577743 2.60717824,2.57381325 2.94453646,2.57381325 Z M2.94453646,3.80043471 C3.772127,3.80043471 4.44543855,4.4971205 4.44543855,5.35344114 L4.44543855,5.4574161 C3.29102646,5.82312641 2.60303752,4.914474 2.57364576,4.87465136 C2.52539891,4.80812728 2.45164224,4.76650669 2.37148963,4.76061555 C2.29133701,4.7548009 2.21258928,4.7851365 2.15576522,4.84393323 C1.89109152,5.11779517 1.63185253,5.24988698 1.44463258,5.31365676 C1.46515136,4.47565989 2.12984872,3.80043471 2.94453646,3.80043471 Z M2.94453646,9.24075813 L2.30379616,8.5777743 C2.32250336,8.50379065 2.33274427,8.42667014 2.33274427,8.34752217 L2.33274427,7.99730482 C2.52606439,8.05981221 2.73158486,8.09351417 2.94453646,8.09351417 C3.15748806,8.09351417 3.36300853,8.05981221 3.55632866,7.99730482 L3.55632866,8.34752217 C3.55632866,8.42667014 3.56656956,8.5038289 3.58527676,8.5777743 L2.94453646,9.24075813 Z M2.94453646,7.51970092 C2.11694592,7.51970092 1.44363437,6.82301513 1.44363437,5.96669449 L1.44363437,5.90724744 C1.66475651,5.85468614 1.99261324,5.73254043 2.33462977,5.44792906 C2.45563508,5.56605808 2.62858432,5.71096505 2.84881915,5.835253 C3.10931515,5.98226395 3.46907765,6.11825769 3.90851215,6.11825769 C4.07550909,6.11825769 4.25418879,6.09817423 4.44307242,6.05203965 C4.40007542,6.86884368 3.7444359,7.51970092 2.94453646,7.51970092 Z"
                                        id="Shape"></path>
                                    <path
                                        d="M19.3083498,7.68903605 L17.6435583,6.9160826 C17.5281775,6.8624948 17.4565058,6.75480357 17.4565058,6.63503206 L17.4565058,6.24356486 C17.8461986,5.92229584 18.0923893,5.45411153 18.0923893,4.93333382 L18.0923893,4.61891521 C18.099251,4.61891521 18.1059938,4.61909936 18.1128556,4.61909936 C18.2771413,4.61909936 18.410331,4.49542386 18.410331,4.34287356 L18.410331,3.75241329 C18.410331,2.78613862 17.5637159,2 16.5231072,2 L15.8872238,2 C14.8466151,2 14,2.78613862 14,3.75241329 L14,4.34287356 C14,4.49542386 14.1331897,4.61909936 14.2974754,4.61909936 C14.2999346,4.61909936 14.307074,4.6190257 14.3179417,4.61862057 L14.3179417,4.93333382 C14.3179417,5.45414836 14.5641721,5.92233267 14.9538649,6.24360169 L14.9538649,6.63506889 C14.9538649,6.75487723 14.8821931,6.86256846 14.7667727,6.91611943 C14.6198198,6.98432879 14.5602454,7.15024842 14.6337416,7.28670396 C14.6858593,7.38349348 14.7909277,7.43947524 14.9000416,7.43947524 C14.9447423,7.43947524 14.9901172,7.43008357 15.0328347,7.41026897 C15.0855473,7.38577695 15.1346109,7.35686532 15.1803428,7.32474946 L15.9076901,8.00013995 L15.9076901,11.7237742 C15.9076901,11.8763245 16.0408797,12 16.2051655,12 C16.3694513,12 16.5026409,11.8763245 16.5026409,11.7237742 L16.5026409,8.00006629 L17.2299485,7.3246758 C17.2757201,7.35682849 17.324744,7.38574012 17.3774567,7.41019531 L18.9883852,8.15814111 L18.4997719,8.61185119 C18.2634575,8.8313218 18.1332822,9.1230899 18.1332822,9.43345721 L18.1332822,11.7237005 C18.1332822,11.8762508 18.2664719,11.9999263 18.4307576,11.9999263 C18.5950434,11.9999263 18.7282331,11.8762508 18.7282331,11.7237005 L18.7282331,9.43345721 C18.7282331,9.27066813 18.7964938,9.11760221 18.9204815,9.0024713 L19.3833136,8.57270079 C19.3973545,8.62267924 19.4050491,8.67479384 19.4050491,8.72827116 L19.4050491,11.7237005 C19.4050491,11.8762508 19.5382388,11.9999263 19.7025246,11.9999263 C19.8668103,11.9999263 20,11.8762508 20,11.7237005 L20,8.72827116 C20.0000397,8.2853523 19.7350089,7.88714519 19.3083498,7.68903605 Z M14.5949112,4.00981891 L14.5949112,3.75237646 L14.5949509,3.75237646 C14.5949509,3.0907236 15.174671,2.55241477 15.8872238,2.55241477 L16.5231072,2.55241477 C17.23566,2.55241477 17.8153801,3.0907236 17.8153801,3.75237646 L17.8153801,4.05920808 C16.5222346,3.99442392 15.7418574,3.52716036 15.7342817,3.5225566 C15.6839489,3.49139833 15.6265163,3.47615066 15.5693614,3.47615066 C15.492573,3.47615066 15.4164193,3.50369958 15.3589074,3.55706641 C15.0742829,3.82135925 14.7954096,3.94857044 14.5949112,4.00981891 Z M16.2051655,7.49501505 L15.5177593,6.85671247 C15.537829,6.78548305 15.5488157,6.71123355 15.5488157,6.63503206 L15.5488157,6.57621438 C15.7533202,6.64689135 15.9744436,6.68571029 16.2051655,6.68571029 C16.4358874,6.68571029 16.6570108,6.64689135 16.8615153,6.57621438 L16.8615153,6.63503206 C16.8615153,6.71123355 16.8724624,6.78548305 16.8925717,6.85671247 L16.2051655,7.49501505 Z M16.2051655,6.13329552 C15.4926127,6.13329552 14.9128926,5.59502352 14.9128926,4.93333382 L14.9128926,4.48802101 C15.1212444,4.41071461 15.3639843,4.28781255 15.6110079,4.092392 C15.9233968,4.24332178 16.5769701,4.50418942 17.4974384,4.59037187 L17.4974384,4.93333382 C17.4974384,5.59498669 16.9177183,6.13329552 16.2051655,6.13329552 Z"
                                        id="Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <h2>{{ 'home.label.member' | translate }}</h2>
        </li>
    </ul>
</section>