

// STYLE ARABIC
* {
    direction: rtl;
} 

::ng-deep body{ 
    direction: rtl;
    text-align: right
}
::ng-deep .side-menu { 
    right: 0;
    left: auto;
}
::ng-deep .content-home {
    margin-right: 21%;
    margin-top: 42px;
    margin-left: 37px;
} 

::ng-deep .bg-light .navbar-nav .profile { 
    margin-left: 17px;
    direction: ltr;
} 
::ng-deep .side-menu ul li h2 { 
    margin-right: 10px;
}

::ng-deep .side-menu li.active{
    border-radius: 0px 21px 21px 0px !important;
}
::ng-deep .content-home .title{
    margin-right: 10px;
}
::ng-deep .content {
    margin-right: 21%;
    margin-top: 42px;
    margin-left: 80px;
}

::ng-deep .all-cards .item .photo-title {
    margin-left: 20px;
    margin-right: auto !important
}
::ng-deep .all-cards .photo-title .title{
    margin-right: 14px
}


::ng-deep .all-cards .item .time span { 
    direction: ltr;
} 

::ng-deep .all-cards .date { 
    margin-right: -25px; 
} 
::ng-deep .all-cards .date .fa { 
    margin-left: 5px;
}

::ng-deep .all-cards .item .time p {
    float: right;
}
::ng-deep .chat-page .form-group .fa { 
    margin-top: 5px; 
    left: 14px;
    right: auto;
}

::ng-deep .chat-page .left-chat p.read-time { 
    margin-right: 69px;
}

::ng-deep .details img {
    margin-left: 9px;
}


::ng-deep .all-cards .item .photo-title {
    margin-left: auto   !important;
    margin-right: 20px !important;
}


::ng-deep .content .all-cards .item .photo-title img {
    margin-left: 9px;
}


::ng-deep .side-menu ul li {
    display: flex;
    padding-left: auto;
    padding-right: 36px;
}


::ng-deep .popup .box .item-filed label { 
    padding-right: 5px; 
    width: 100%;
    text-align: right;
}


::ng-deep .popup .box .group-item .icon-input .fa { 
    right: 3px; 
    margin-right: 15px;
    margin-top: 4px;
    left: auto;
}
::ng-deep .popup .box .group-item .icon-input .form-control:nth-child(2) {
    text-align: right;
}

::ng-deep .popup .box .switch {
    padding-left: 34px;
    position: absolute;
    right: 310px;
}
::ng-deep .popup .box p {
text-align: right
}


::ng-deep #english{
    direction: ltr !important;
}

::ng-deep #english label {
    text-align: left;;
}