<div *ngFor="let content of contentList" class="item d-flex justify-content-between">
  <div class="photo-title d-flex">
    <img class="img-content" [src]="content['contentImages'][0] ? content['contentImages'][0]['imagePath'] : ''"
      onError="this.src='assets/images/no-image-box.png'">
    <div class="title">
      <h3>{{ content['title'+contentLang]}}</h3>
      <p>{{ content['body'+contentLang]}}</p>
    </div>
  </div>
  <div class="tools d-flex ">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </div>
</div>