<app-nav></app-nav>
<app-side-menu></app-side-menu>
<section class="content">
    <div class="row">
        <div class="container">
            <div class="title-create d-flex justify-content-between">
                <h2>Ads</h2>
                <button class="button-create">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'general.btn.create' | translate }}
                </button>
            </div>
            <div class="all-cards d-flex flex-column">
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex">
                        <div class="number">
                            <p>1</p>
                        </div>
                        <img src="../../assets/images/sasdasd.png">
                        <div class="title">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="tools d-flex ">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex">
                        <div class="number">
                            <p>2</p>
                        </div>
                        <img src="../../assets/images/sasdasd.png">
                        <div class="title">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="tools d-flex ">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex">
                        <div class="number">
                            <p>3</p>
                        </div>
                        <img src="../../assets/images/sasdasd.png">
                        <div class="title">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="tools d-flex ">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>