<nav class="navbar navbar-expand-lg navbar-light bg-light right">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item profile"> 
                    <img src="../../assets/images/pho.png">
                    <p>{{ userName }}</p> 
            </li>
            <li>
                <a href="/{{reverseLang}}"><i class="fa fa-globe" aria-hidden="true"></i></a>
            </li>
            <li>
                <i class="fa fa-sign-out" (click)="logout()" aria-hidden="true"></i>
             </li> 
        </ul>  
    </div>
</nav>