<!-- News Page / Activities Page / Report Page /About Us (without images)-->
<app-nav></app-nav>
<app-side-menu></app-side-menu>
<section class="content">
  <div class="row">
    <div class="container">
      <div class="title-create d-flex justify-content-between">
        <h2>{{ 'general.label.about-us' | translate }}</h2>
      </div>
    </div>
  </div>
</section>