/* You can add global styles to this file, and also import other style files General*/
body{
    background: #FAFAFA;
}
.login-page {
    font-family: 'Cairo', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
  }
 
  .login-page h1 {
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 11px;
  }
 
  .login-page .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3%;
  }
 
  .login-page img {
    width: 170px;
    margin-bottom: 31px;
  }
 
  .details-login {
    background: #3F8144;
    color: #fff;
    text-align: center;
  }
 
  .footer-social {
     width: 100%;
     position: absolute;
     bottom: 0;
     padding: 0px 22px;
     border-top: 1px solid #c1c1c1;
     padding-top: 8px;
 
  }
 
  .email {
    display: flex
  }
 
  .email .fa {
    font-size: 21px;
    margin-left: 4px;
  }
 
  .email p {
    padding-left: 8px;
    font-size: 17px;
  }
 
  .form-group {
    width: 330px;
  }
 
  .social .fa {
    font-size: 33px;
    color: #fff;
    -moz-transition: all .5s ease-in 0s;
    -ms-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    transition: all .5s ease-in 0s;
  }
 
  .social .fa:hover {
    color: #000;
    -moz-transition: all .5s ease-in 0s;
    -ms-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    transition: all .5s ease-in 0s;
  }
 
  .form-sign button {
    width: 100%;
    height: 42px;
    box-shadow: 1px 5px 20px -6px #4e4e4e;
    border-radius: 81px;
    margin-top: 0px;
    background: #3F8144;
    color: #fff;
    font-weight: 700;
    border: none;
    -moz-transition: all .5s ease-in 0s;
    -ms-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    transition: all .5s ease-in 0s;
    cursor: pointer;
    padding-top: 3px;
    box-shadow: 7px 8px 26px -6px #4e4e4e;
    font-size: 17px;
    margin-top: 5px;
 
 
  }
 
  button:hover {
    box-shadow: 7px 8px 38px -2px #383838;
    -moz-transition: all .5s ease-in 0s;
    -ms-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    transition: all .5s ease-in 0s;
 
  }
 
  .about .form-group input,
  .about .form-group textarea {
    padding-left: 41px;
    border-radius: 19px;
    height: 38px;
    border: none;
    color: #000;
    background: #ffffff;
    box-shadow: 6px 4px 25px -7px #6b6b6b;
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
  }
 
  .form-control {
    padding-left: 43px;
    box-shadow: 0px 0px 17px -5px #4e4e4e;
    border: none;
    border-radius: 31px;
 
  }
 
  .form-control:focus {
    border: none;
    box-shadow: 9px 13px 36px -9px #404040;
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
  }
 
  .form-group .fa {
    position: absolute;
    top: 6px;
    left: 18px;
    font-size: 23px;
    color: #6b6b6b;
  }
 
  .input-style {
    position: relative;
    margin-bottom: 13px;
  }
 
  .links-login {
    margin-top: 8px;
    color: #fff;
  }
 
  .links-login a {
    color: #000;
    padding: 19px;
    font-size: 14px;
    text-decoration: underline;
  }
 
  .reset .form-sign button {
    color: #fff;
    background: #3F8144; 
  }
 
  a {
    color: #fff;
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
  }
 
  a,
  a:focus,
  a:hover {
    text-decoration: none;
    outline: 0;
  }
 
  .clear:after {
    clear: both;
  }
 
  .clear {
    zoom: 1;
  }
 
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .side-menu{
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    background: #439048;
    bottom: 0;
    height: 100%;
    color: #fff; 
    overflow-y: scroll;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 26px;
        margin-bottom: 20px;
    img{
        width: 145px;
    }
    }
    ul{
        // margin-left: 11px;
    li{
        display: flex;
        padding-left: 36px;
        cursor: pointer;
        margin-bottom: 6px;
        align-items: center;

        h2{ 
        font-weight: 400;
        font-size: 16px;
        padding-left: 11px;
        margin-top: 12px; 
        }
    }
    li.active{
        background: #fafafa;
    color: #439048;
    border-radius: 21px 0px 0px 21px;
    } 
    }
    li.active svg path{
        fill: #439048 !important
    }
}

.bg-light {
    background-color: #ffffff!important;
    box-shadow: 0px 0px 19px -6px rgba(68,68,68,0.3);
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 21px;

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 42px;
        margin-right: 4px;
    }
    p{
        margin: 0;
    }
  }
  .fa{ 
    font-size: 29px;
    margin-left: 19px;
    color: #6b6b6b;
    margin-top: 4px;
    cursor: pointer;
  }

}
}
.content-home{
    margin-left: 21%;
    margin-top: 42px;
    margin-right: 37px;
    .meeting-dashboard {
      background: #439048;
      width: 66px;
      color: #fff;
      height: 58px;
      margin-right: 11px;
      border-radius: 8px;
      margin-top: -2px;
      h4{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 1px;
      margin-top: 5px;
  }
  h5{
      font-size: 18px;
    }
  }
    .suggestion{
      img { 
      width: 64px !important;
      }
  }
    .icons {
      margin-left: 12px;
    }
  
    .item {
      background: #fff;
      box-shadow: 0px 0px 19px -6px rgba(68, 68, 68, 0.3);
      border-radius: 6px;
      align-items: center;
      flex: 0 0 24%;
      margin-right: 1%;
  
      .group-text {
        align-items: center !important;
        justify-content: center !important;
  
        h4 {
          font-size: 20px;
          padding-top: 23px;
          margin: 0;
          color: #439048;
        }
      }
  
      p {
        font-weight: 800;
        color: #757575;
        font-size: 27px;
      }
  
      img {
        background: #439048;
        width: 60px;
        height: 60px;
        padding: 12px 12px;
        border-radius: 9px;
      }
    }
  
    .table-review { 
      margin-top: 23px;
      margin-right: -20px;
  
      .table-new-r {
        box-shadow: 0px 1px 31px -22px #00000080;
        padding: 23px;
        background: #fff;
        border-radius: 6px;
        cursor: pointer;
  
        .group .fa{ 
          font-size: 20px;
          margin-right: 8px;
          color: #fff;
          background: #439048;
          box-shadow: 0px 1px 31px -9px #040404e6;
          padding: 10px 10px;
          border-radius: 50%;
          margin-bottom: 11px;
          cursor: pointer;
      }
  
        h3 {
          margin-bottom: 16px;
          font-size: 24px;
  
        }
  
        .section-news {
          margin-bottom: 12px; 
          background: #fff;
          display: flex;
          box-shadow: 0px 1px 31px -13px #00000080;
          border-radius: 11px;
          padding: 14px;
  
          img {
  
              width: 84px;
              height: 53px;
            margin-right: 9px;
          }
  
          h6 {
            font-size: 16px;
            color: #439048;
            font-weight: 700;
            margin-bottom: 0;
          }
  
          p {
            margin-bottom: 0;
            margin-top: 3px;
          }
  
          .tools { 
            display: flex;
            justify-content: center;
            flex-direction: column; 
            .icons { 
              display: flex;
              justify-content: space-evenly;
              margin-bottom: 7px;
  
              .fa {
                font-size: 21px;
              }
            }
  
            .time {
              p {
  
                margin: 0;
                width: 81px;
                margin-left: 16px;
              }
            }
          }
        }
  
      }
    }
  
  
  }
  


  .content {
    margin-left: 21%;
    margin-top: 42px;
    margin-right: 80px;
    .title-create{
        margin-bottom: 12px;
    h2{
        font-size: 30px;
        color: #439048;
        font-weight: 700;
    }
    .button-create{ 
        height: 42px;
        box-shadow:5px 2px 26px -11px #4e4e4e;
        border-radius: 81px;
        margin-top: 0px;
        background: #3F8144;
        color: #fff;
        font-weight: 700;
        border: none;
        transition: all 0.5s ease-in 0s;
        cursor: pointer;
        padding-top: 3px; 
        font-size: 20px;
        padding: 7px 26px;
        .fa{
            margin-right: 4px;
        }
    }
    .button-create:hover{ 
        height: 42px;
        box-shadow:5px 2px 26px 0px #4e4e4e;
    }
    }
    .all-cards{
        .active{ 
            margin-bottom: 12px;
            background: #cff1d1 !important;
            .btn-details{
                background: #777
            }
    }
        .item{
        margin-bottom: 12px; 
        background: #fff;
        display: flex;
        box-shadow: 0px 1px 31px -13px #00000080;
        border-radius: 11px;
        padding: 14px;
        .photo-title{
            margin-right: 20px;
            img {
                // width: 135px !important;
                // height: 100% !important;
                margin-right: 9px;
            }
        }
       .tools .fa{ 
            font-size: 25px;
            margin-right: 21px;
            padding: 19px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            margin-right: 16px;
            cursor: pointer;
        }
      .tools  .fa:hover{
            background: #439048; 
            color: #fff;  
            border-radius: 5px;
            box-shadow: 0px 0px 21px -3px #4e4e4e;
        } 
        h3 {
            font-size: 20px;
            color: #439048;
            font-weight: 700;
            margin-bottom: 0;
          } 
          p {
            margin-bottom: 0;
            margin-top: 3px;
          }
        }
    }
}

.all-cards{
    .item{
    margin-bottom: 12px; 
    background: #fff;
    display: flex;
    box-shadow: 0px 1px 31px -13px #00000080;
    border-radius: 11px;
    padding: 14px;
    .photo-title{
        margin-right: 20px;
        img {
            // width: 135px !important;
            // height: 100% !important;
            margin-right: 9px;
        }
    }
    .tools .fa{ 
        font-size: 25px;
        margin-right: 21px;
        padding: 19px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        margin-right: 16px;
        cursor: pointer;
    }
    .tools .fa:hover{
        background: #439048; 
        color: #fff;  
        border-radius: 5px;
        box-shadow: 0px 0px 21px -3px #4e4e4e;
    } 
    h3 {
        font-size: 20px;
        color: #439048;
        font-weight: 700;
        margin-bottom: 0;
      } 
      p {
        margin-bottom: 0;
        margin-top: 3px;
      }
      .time{
          p{
            color: #439048;
            font-weight: 600;
            width: 117px;
            float: left;
            margin-top: 0px;
          }
          span{
            color: #4e4e4e;
            font-weight: 500;
        }            
        .fa{
            margin-left: 9px;
            font-size: 19px;
            padding-right: 5px;
        }
      }
    }
} 

.all-cards{
    .item{
    margin-bottom: 12px; 
    background: #fff;
    display: flex;
    box-shadow: 0px 1px 31px -13px #00000080;
    border-radius: 11px;
    padding: 14px;
    .photo-title{
        margin-right: 20px;
        img {
            // width: 135px !important;
            // height: 100% !important;
            margin-right: 9px;
        }
    }
   .tools .fa{ 
        font-size: 25px;
        margin-right: 21px;
        padding: 19px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        margin-right: 16px;
        cursor: pointer;
    }
  .tools  .fa:hover{
        background: #439048; 
        color: #fff;  
        border-radius: 5px;
        box-shadow: 0px 0px 21px -3px #4e4e4e;
    } 
    h3 {
        font-size: 20px;
        color: #439048;
        font-weight: 700;
        margin-bottom: 0;
      } 
      p {
        margin-bottom: 0;
        margin-top: 3px;
      } 
    .group-file p{ 
        font-weight: 500;
        margin-top: 0;
        color: #666;
    }
    p.name{
        color: #409144 !important;
        font-weight: 600;
        font-size: 20px;
        margin-top: 6px !important;
    }
    }
    .profile{
        margin-bottom: 9px;
    }
    .photo{
        margin-top: 10px;
        margin-bottom: 7px;
    }
    .date {
        margin-top: 9px;
        margin-bottom: -4px;
        margin-left: -25px;
        color: #777;
    .fa{
        float: left;
        margin-bottom: 12px; 
        margin-top: 3px;
        margin-right: 5px;
    }
}
}


.chat-page{
.group-text{
    margin-bottom: 12px;
   background: #fff;
   display: flex;
   box-shadow: 0px 1px 31px -13px #00000080;
   border-radius: 11px;
   padding: 14px;
   flex-direction: column;
   padding-top: 22px
   }
   .form-control{
       border: none;
   box-shadow: 0px 1px 31px -13px #00000080;
   margin-top: -10px;
   border-radius: 11px;
   }
    .form-group{
    width: 100%;
    position: relative;
    .form-control{
        border: none;
    box-shadow: 0px 1px 31px -13px #00000080;
    margin-top: -10px;
    border-radius: 11px;
    position: relative;
    }
    .fa{ 
        position: absolute;
        right: 30px;
        font-size: 21px;
        margin-top: 7px;
        color: #888; 
        left: auto;
        z-index: 1;
    }
}
   h6{
       text-align: center;
       font-size: 12px;
       color: #999;
   }
   .right-chat{
       display: flex;
       justify-content: flex-end;
       flex-direction: column;
       align-items: flex-end;
       h4{ 
   background: #dedede;
   padding: 12px;
   border-radius: 12px;
   margin-bottom: 0;
   font-size: 14px;

       }
       p.read-time{
           margin: 0;
           font-size: 12px;
           margin-right: 12px;
           color: #505050;
       }
   }
   .left-chat{
       .profile{
           display: flex;
           align-items: center;
           img{
               width: 54px;
               margin-right: 6px;
           }
           h4{
               background: #63ab66;
               font-size: 14px;

               color: #fff;
               padding: 10px 10px;
               padding: 12px;
               border-radius: 12px;
               margin-bottom: 0;
           } 
       }
       p.read-time{
           margin: 0;
           font-size: 12px; 
           color: #505050;    margin-left: 69px;

       }
   }
   .online{
       margin-bottom: 12px;
       background: #fff;
       display: flex;
       box-shadow: 0px 1px 31px -13px #00000080;
       flex-direction: column;  
   }
   .item-online{ 
       cursor: pointer;
   margin-top: 7px;
   border-bottom: 1px solid #c7c7c7;
   }


.profile img {
   vertical-align: middle;
   border-style: none;
   width: 52px;
   height: 100%;
}
.group-file{
   p{
       color: #777;
       margin-left: 10px;

   }
   p.name{
       margin-bottom: -2px;
       margin-left: 10px;
       font-weight: 600;
       color: #409144;
   }
}
}
.number p{
    font-size: 22px;
    background: #439048;
    height: 34px;
    width: 34px;
    color: #fff;
    margin-right: 11px;
    border-radius: 50%;
    text-align: center;
    padding-top: 1px;
}
.btn-details{
    height: 31px;
    box-shadow: 5px 2px 26px -11px #4e4e4e;
    border-radius: 81px;
    margin-top: 0px;
    background: #3F8144;
    color: #fff;
    font-weight: 500;
    border: none;
    transition: all 0.5s ease-in 0s;
    cursor: pointer;
    padding-top: 3px;
    font-size: 16px;
    padding: 0px 21px;
}
.details{
    margin-bottom: 12px;
    background: #fff;
    display: flex;
    box-shadow: 0px 1px 31px -13px #00000080;
    border-radius: 11px;
    flex-direction: column;
    padding: 12px; 
    h4{
        color: #3c8241;
        font-size: 18px;
        margin-top: 13px;
        margin-bottom: 0px;
        font-weight: 600;
    }
    p{
        font-size: 15px;
        color: #555;
        line-height: 20px;
    }
        img { 
            margin-right: 9px;
        } 
    .group-file p{ 
        font-weight: 500;
        margin-top: 0;
        color: #666;
    }
    p.name{
        color: #409144 !important;
        font-weight: 600;
        font-size: 20px;  
       margin: 0 !important;
    }
    .group-file{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
}
.popup { 
    position: fixed;  
    width: 100%;
    height: 100%;
    background: #00000099;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0; 
    bottom: 0;
    overflow: scroll;  
    justify-content: start;
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
    .form-group {
        width: 100%;
    }
    .box{
        background: #FAFAFA;
        box-shadow: 0px 1px 34px -18px #00000080;
        padding: 38px 42px;
        width: 890px;
        border-radius: 16px;
        text-align: left;
        flex-direction: column;
        position: relative; 
        .item-filed{
            margin-bottom: 31px;
            label{ 
            color: #439048;
            font-weight: 600;
            font-size: 20px;
            padding-left: 5px;
            }
            .form-group input, .form-group textarea {
                padding-left: 15px;
                border-radius: 19px;
                height: 38px;
                border: none;
                color: #000;
                background: #ffffff;
                box-shadow: 6px 4px 25px -12px #6b6b6b;
                -webkit-transition: all .3s ease-in 0s;
                -moz-transition: all .3s ease-in 0s;
                -ms-transition: all .3s ease-in 0s;
                -o-transition: all .3s ease-in 0s;
                transition: all .3s ease-in 0s;
            }
            .form-group input:hover, .form-group textarea:hover {
                box-shadow: 6px 4px 25px -3px #6b6b6b;
                -webkit-transition: all .3s ease-in 0s;
                -moz-transition: all .3s ease-in 0s;
                -ms-transition: all .3s ease-in 0s;
                -o-transition: all .3s ease-in 0s;
                transition: all .3s ease-in 0s;
            }
            .form-group textarea {
                height: 100px;
            }
            .upload-btn-wrapper {
                position: relative;
                overflow: hidden;
            }
            .upload-btn-wrapper input[type=file] {
                font-size: 20px;
                position: absolute;
                left: 0;
                top: 0;
                cursor: pointer;
                opacity: 0;
                height: 107px;
                width: 130px; 
            }        
              .fa{
                    font-size: 44px;
                    color: #8e8e8e;
              }
            }
            .btn-upload{
                background: #fff;
                border: 1px solid #adadad;
                border-radius: 50%;
                height: 101px;
            }
            .nav-tabs .nav-link
            {
                color: #0056b3;
            }
            .nav-tabs .nav-link.active {
                color : #439048;
                font-weight: bold;
            }
            .media{
                margin-right: 21px;
                height: 100%;
                width: 180px;
                margin-top: 31px;
            }
            .create-popup{
                height: 42px;
                box-shadow:5px 2px 26px -11px #4e4e4e;
                border-radius: 81px;
                margin-top: 0px;
                background: #3F8144;
                color: #fff;
                font-weight: 700;
                border: none;
                transition: all 0.5s ease-in 0s;
                cursor: pointer;
                padding-top: 3px; 
                font-size: 20px; 
                padding: 7px 76px;
                margin-top: 13px;
            
        }
        .create-popup:hover{
            box-shadow: 5px 2px 26px -1px #4e4e4e;
        }
        .close-x .fa {
            position: absolute;
            right: 20px;
            font-size: 37px;
            color: #439048;
            cursor: pointer;
        } 
    
        h2{
            text-align: center;
            color: #439048;
            margin-bottom: 21px;
            padding-top: 14px;
        }
        .group-item {
            
            .icon-input  {
                position: relative;
                .form-control:nth-child(2) {
                margin-top: 13px;
                }
                .fa{
                    position: absolute;
                    left: 3px; 
                    font-size: 20px;
                    margin-left: 9px;
                    margin-top: 8px;
                
                }
                input{
                    padding-left: 40px;
                }
            }

        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: -5px;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            background-color: #999;
            width: 60px;
            height: 31px;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 23px;
            width: 24px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
          }
          
          input:checked + .slider {
            background-color: #439048;
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px #439048;
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          .switch{
            padding-left: 34px;
            position: absolute;
            right: 90px;
            margin-top: 41px;
        }
          /* Rounded sliders */
          .slider.round {
            border-radius: 34px;
          }
          p{
            margin-left: 11px;
            font-size: 20px;
            color: #333;
        } 
          .slider.round:before {
            border-radius: 50%;
          }
          


    }
} 
 
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #439048; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #439048; 
}


.img-content {
  width: 100px;
  height: 100px;
}

#arabic{
  direction: rtl !important;
}

#arabic .form-group {
  text-align: right !important;
}
