<app-nav></app-nav>
<app-side-menu></app-side-menu>
<section class="content">
    <div class="row">
        <div class="container">
            <div class="title-create d-flex justify-content-between">
                <h2>{{ 'general.label.suggestion' | translate}}</h2>
                <button class="button-create">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {{ 'general.btn.create' | translate }}
                </button>
            </div>
            <div class="all-cards d-flex flex-column">
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex flex-column">
                        <div class="profile d-flex ">
                            <img src="../../assets/images/pho.png">
                            <div class="group-file">
                                <p class="name"> Amr Ahmed</p>
                                <p> Senior UI UX Designer</p>
                            </div>
                        </div>
                        <div class="title">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                        <div class="photo d-flex">
                            <img src="../../assets/images/news.png">
                            <img src="../../assets/images/news.png">
                        </div>
                    </div>
                    <div class=" sug d-flex flex-column">
                        <div class="date d-flex">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            1/1/2020
                        </div>
                        <div class="tools">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex flex-column">
                        <div class="profile d-flex ">
                            <img src="../../assets/images/pho.png">
                            <div class="group-file">
                                <p class="name"> Amr Ahmed</p>
                                <p> Senior UI UX Designer</p>
                            </div>
                        </div>
                        <div class="title">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class=" sug d-flex flex-column">
                        <div class="date d-flex">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            1/1/2020
                        </div>
                        <div class="tools">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex flex-column">
                        <div class="profile d-flex ">
                            <img src="../../assets/images/pho.png">
                            <div class="group-file">
                                <p class="name"> Amr Ahmed</p>
                                <p> Senior UI UX Designer</p>
                            </div>
                        </div>
                        <div class="title">
                            <h3>Lorem Ipsum is simply</h3>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class=" sug d-flex flex-column">
                        <div class="date d-flex">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            1/1/2020
                        </div>
                        <div class="tools">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>