<app-nav></app-nav>
<app-side-menu></app-side-menu>
<section class="content">
    <div class="container">
        <div class="title-create d-flex justify-content-between">
            <h2>{{ 'general.label.member' | translate}}</h2>
        </div>

        <div class="row">
            <div class="all-cards d-flex flex-column col-6">
                <div class="item d-flex justify-content-between active">
                    <div class="photo-title d-flex flex-column">
                        <div class="profile d-flex ">
                            <img src="../../assets/images/pho.png">
                            <div class="group-file">
                                <p class="name"> Amr Ahmed</p>
                                <p> Senior UI UX Designer</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn-details">Details</button>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex flex-column">
                        <div class="profile d-flex ">
                            <img src="../../assets/images/pho.png">
                            <div class="group-file">
                                <p class="name"> Amr Ahmed</p>
                                <p> Senior UI UX Designer</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn-details">Details</button>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex flex-column">
                        <div class="profile d-flex ">
                            <img src="../../assets/images/pho.png">
                            <div class="group-file">
                                <p class="name"> Amr Ahmed</p>
                                <p> Senior UI UX Designer</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn-details">Details</button>
                </div>
                <div class="item d-flex justify-content-between">
                    <div class="photo-title d-flex flex-column">
                        <div class="profile d-flex ">
                            <img src="../../assets/images/pho.png">
                            <div class="group-file">
                                <p class="name"> Amr Ahmed</p>
                                <p> Senior UI UX Designer</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn-details">Details</button>
                </div>
            </div>
            <div class="details col-6">
                <div class="profile d-flex ">
                    <img src="../../assets/images/pho.png">
                    <div class="group-file">
                        <p class="name"> Amr Ahmed</p>
                        <p> Senior UI UX Designer</p>
                    </div>
                </div>
                <h4>Deatils</h4>
                <p>Passionate healthcare Project Manager and PMP with 9+ years of experience leading projects in a
                    competitive hospital.</p>
                <h4>Phone</h4>
                <p>0122222222222</p>
                <h4>Nationality</h4>
                <p>Egyptyian</p>
                <h4>Work</h4>
                <p>Accountant</p>
                <h4>Marital Status</h4>
                <p>Singel</p>
            </div>
        </div>
    </div>
</section>