<section class="popup">
    <div class="box">
        <div class="close-x" (click)="close()" data-dismiss="modal">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <h2>{{ 'createContent.label.createNews' | translate }}</h2>
        <form [formGroup]="form" (ngSubmit)="create()">
            <div class="two-filed-branch">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab"
                            href="#arabic">{{ 'createContent.label.arabic' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"
                            href="#english">{{ 'createContent.label.english' | translate }}</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active mt-2" id="arabic">
                        <div class="item-filed col-12">
                            <div class="form-group">
                                <label>{{ 'createContent.label.titleAr' | translate }}</label>
                                <input type="text" formControlName="titleAr" class="form-control">
                                <div class="error"
                                    *ngIf="((form.get('titleAr').touched) && (form.get('titleAr').invalid))">
                                    <span *ngIf="form.get('titleAr').errors.required" class="text-danger">
                                        {{ 'general.label.requiredFieldAr' | translate }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-filed col-12">
                            <div class="form-group">
                                <label>{{ 'createContent.label.bodyAr' | translate }}</label>
                                <textarea type="text" formControlName="bodyAr" class="form-control"></textarea>
                                <div class="error"
                                    *ngIf="((form.get('bodyAr').touched) && (form.get('bodyAr').invalid))">
                                    <span *ngIf="form.get('bodyAr').errors.required" class="text-danger">
                                        {{ 'general.label.requiredFieldAr' | translate }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane container fade mt-2" id="english">
                        <div class="item-filed col-12">
                            <div class="form-group">
                                <label>{{ 'createContent.label.titleEn' | translate }}</label>
                                <input type="text" formControlName="titleEn" class="form-control">
                                <div class="error"
                                    *ngIf="((form.get('titleEn').touched) && (form.get('titleEn').invalid))">
                                    <span *ngIf="form.get('titleEn').errors.required" class="text-danger">
                                        {{ 'general.label.requiredFieldEn' | translate }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-filed col-12">
                            <div class="form-group">
                                <label>{{ 'createContent.label.bodyEn' | translate }}</label>
                                <textarea type="text" formControlName="bodyEn" class="form-control">  </textarea>
                                <div class="error"
                                    *ngIf="((form.get('bodyEn').touched) && (form.get('bodyEn').invalid))">
                                    <span *ngIf="form.get('bodyEn').errors.required" class="text-danger">
                                        {{ 'general.label.requiredFieldEn' | translate }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group-item d-flex col-12">
                    <div class="item-filed col-6">
                        <div class="form-group">
                            <div class="defult-branch d-flex flex-column">
                                <label>{{ 'createContent.label.active' | translate }}</label>
                                <!-- <p>SMS</p> -->
                                <label class="switch" style="padding-left: 34px;">
                                    <input type="checkbox" id="active" formControlName="active" type="checkbox"
                                        style="display: none;" data-switchery="true">
                                    <span class="slider round"></span><input formControlName="active" type="hidden">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="item-filed col-6">
                        <div class="form-group">
                            <div class="defult-branch d-flex flex-column">
                                <label>{{ 'createContent.label.access' | translate }}</label>
                                <!-- <p>Email</p> -->
                                <label class="switch" style="padding-left: 34px;">
                                    <input type="checkbox" id="access" formControlName="access" type="checkbox"
                                        style="display: none;" data-switchery="true">
                                    <span class="slider round"></span><input formControlName="access" type="hidden">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-item d-flex col-12">
                    <div class="item-filed col-6">
                        <div class="form-group">
                            <label> {{ 'createContent.label.start' | translate }}</label>
                            <div class="icon-input">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <input type="date" formControlName="startDate" class="form-control"
                                    placeholder="Please write title text">
                            </div>
                            <div class="icon-input">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <input type="time" formControlName="startTime" class="form-control"
                                    placeholder="Please write title text">
                            </div>
                        </div>
                    </div>
                    <div class="item-filed col-6">
                        <div class="form-group">
                            <label> {{ 'createContent.label.end' | translate }}</label>
                            <div class="icon-input">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <input type="date" formControlName="endDate" class="form-control">
                            </div>
                            <div class="icon-input">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <input type="time" formControlName="endTime" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-filed col-12 d-flex">

                    <div class="upload-btn-wrapper d-flex flex-column">
                        <label>{{ 'createContent.btn.upload' | translate }}</label>
                        <button class="btn-upload"><i class="fa fa-camera" aria-hidden="true"></i>
                        </button>
                        <!-- <input type="file" name="myfile" /> -->
                        <input type="file" class="form-control" multiple formControlName="multiImages"
                            (change)="handleFileSelect($event)" />
                    </div>
                </div>
                <div id="previewImg" class="text-center">
                </div>
                <div class="item-filed col-12 d-flex justify-content-center">
                    <button class="create-popup" type="submit">{{ 'general.btn.create' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</section>